component-body {
  min-height: 117vh;
  background: #fffbfa;
  background: linear-gradient(#eceef1 40vh, #fffbfa 60vh);
}

h2 {
  display: block;
  height: 100%;
  margin: 0;
  color: rgb(151, 151, 151);
  position: relative;
  float: left;
  width: 100%;
  margin: 100px;
}

big-image {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  height: 1200px;
}

big-image > c-image {
  position: absolute;
  top: 0;
  right: 0;
  width: unset;
  height: unset;
  transform: translateX(calc(800px - 50vw));
  /* transition: .6s transform; */
}



text-container {
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  transition: .5s;
  min-height: 650px;
}

text-container textblob-animation-wrapper {
  display: block;
  position: absolute;
  left: 100px;
  transition: top .5s;
}

c-button{
  position: relative;
  width: 200px;
  height: auto;
  background: var(--strong-contrast-text-color);
  color: var(--strong-background-color);
  font-weight: bold;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: 145px;
  text-align: center;
  box-shadow: 2px 2px 20px 0 rgba(var(--strong-contrast-text-color-raw), 0.17);
}

c-button:after{
  padding: 13px 25px;
  content: "Virtuelle Wochen"
}

card-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}


c-card-carousel {
  width: calc(100% - 13%);
  position: relative;
  display: flex;
  margin-top: max(calc(100vh - 145px), 600px);
  margin-bottom: 30px;
}

@media only screen and (max-width: 1100px) {
  c-card-carousel {
    margin-bottom: 0px;
  }

  c-card-carousel {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  /* c-icon-card:last-of-type:after {
    content: "";
    display: block;
    width: 40px;
    height: 100%;
    left: 100%;
    position: relative;
    float: left;
  } */
}



tagesschule-container {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: max(67vh, 450px);
}

tagesschule-container c-textblob {
  opacity: 0;
  transform: translateY(-20px);
  max-width: 100%;
  display: none;
}


@media only screen and (min-width: 1580px) {
  big-image > c-image {
    transform: translateX(0);
    
  }
}


@media only screen and (max-width: 1130px) {
  text-container c-textblob {
    left: unset;
  }
  text-container {
    justify-content: center;
    top: 200px;
  }
  big-image > c-image {
    transform: translateX(calc(475px - 50vw)) translateY(-30px);
  }

  
}





@media only screen and (max-height: 900px) and (max-width: 1130px) {

  big-image > c-image {
    transform: translateX(calc(475px - 50vw)) translateY(-100px);
    
  }
}

@media only screen and (max-width: 768px) {

  text-container textblob-animation-wrapper {
    left: unset;
  }

  c-button {
    margin-left: 0;
    width: 200px;
    max-width: 100%;
  }
}
