big-image
  c-image(src="home/aeroplane.jpg")
text-container
  c-textblob(heading="Fortschritt" subheading="verpflichtet" note="dem" hsize='{"min": 60, "max": 75}' hmobile='{"min": 50, "max": 60}')
tagesschule-container
  c-textblob(heading="Tagesschule" hsize='{"min": 60, "max": 67}' hmobile='{"min": 40, "max": 60}')
card-wrapper
  card-container
  