
<svg width="512" height="512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
<path d="M467.482 349.163C462.469 349.163 457.497 350.017 452.704 351.702L311.874 401.204C312.487 398.247 312.81 395.185 312.81 392.049C312.81 367.246 292.631 347.067 267.829 347.067H136.202C95.4696 347.067 57.1751 362.929 28.3733 391.732L0.118164 419.986V512H325.933L486.903 433.583C502.077 426.19 511.881 410.508 511.881 393.629C511.882 369.11 491.964 349.163 467.482 349.163V349.163ZM473.772 406.625L319.018 482.014H30.1045V432.407L49.5766 412.935C72.715 389.797 103.479 377.055 136.202 377.055H267.828C276.096 377.055 282.823 383.782 282.823 392.05C282.823 400.318 276.096 407.044 267.828 407.044H172.539V437.03H300.375L462.647 379.992C464.237 379.434 465.863 379.15 467.481 379.15C474.413 379.15 481.895 384.686 481.895 393.629C481.896 399.12 478.707 404.22 473.772 406.625V406.625Z"/>
<path d="M182.839 210.673C190.931 217.071 195.572 226.542 195.572 236.661V275.357L214.139 313.919H297.864L316.431 275.357V236.757C316.431 226.586 321.092 217.063 329.218 210.63C357.705 188.079 374.042 154.331 374.042 118.042C374.041 52.9538 321.089 0 256 0C254.48 0 252.938 0.0299863 251.414 0.0869603C220.835 1.24943 192.246 14.1415 170.91 36.3894C149.588 58.6242 137.885 87.7249 137.959 118.331C138.047 154.533 154.405 188.191 182.839 210.673V210.673ZM279.02 283.932H232.98L225.557 268.515V251.654H286.442V268.515L279.02 283.932ZM192.553 57.1449C208.478 40.5395 229.786 30.9169 252.553 30.0523C253.698 30.0093 254.859 29.9863 256 29.9863C304.554 29.9863 344.055 69.4882 344.055 118.041C344.055 145.112 331.863 170.289 310.605 187.117C299.33 196.043 291.604 208.176 288.285 221.667H223.736C220.431 208.185 212.71 196.062 201.437 187.149C180.219 170.372 168.013 145.263 167.947 118.259C167.891 95.4544 176.63 73.7493 192.553 57.1449V57.1449Z"/>
<path d="M63.3975 103.303H107.971V133.289H63.3975V103.303Z"/>
<path d="M81.7041 34.9856L96.6972 9.01746L135.298 31.3043L120.305 57.2724L81.7041 34.9856Z"/>
<path d="M81.7002 201.604L120.301 179.317L135.294 205.285L96.6933 227.572L81.7002 201.604Z"/>
<path d="M404.025 103.303H448.599V133.289H404.025V103.303Z"/>
<path d="M376.689 31.3022L415.29 9.01543L430.283 34.9836L391.683 57.2704L376.689 31.3022Z"/>
<path d="M376.694 205.301L391.687 179.333L430.288 201.619L415.295 227.588L376.694 205.301Z"/>
</svg>
