info-card
    note-box
        note-text
    heading-box
        heading-container
            heading-background
            c-textblob(hsize='{"max":45, "min":40}', hminsize=25, hmobile='{"max": 32, "min":25}')
    thumbnail-box
        c-image
        
    content-box
        content-title
        content-text
    link-box
