h1 Daniels sandbox

c-newscard(subheading="11.02.2019", cardtitle="Hello There", skewcardcolor="#8360f7", image="https://images.unsplash.com/photo-1496857239036-1fb137683000?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80", texttitle="Eine Geschichte", textcontent="Lorem ipsum dolor sit amet consectetur adipisicing elit. Et esse sed, fuga illum, similique quo eum, adipisci perspiciatis veritatis quaerat incidunt. Deleniti impedit repellendus cumque consequuntur nisi ipsum quae nam!", textmore="Erfahre mehr")

//img(src="https://miro.medium.com/max/2662/0*Rcq8-QrRvc9ALLxu.jpg")
