<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="122.096" height="135.275" viewBox="0 0 122.096 135.275">
<defs>
<linearGradient id="linear-gradient" x1="0.08" x2="0.807" y2="1.187" gradientUnits="objectBoundingBox">
<stop offset="0" stop-color="#f7f8ff"/>
<stop offset="1" stop-color="#eaebf2"/>
</linearGradient>
</defs>
<g id="Gruppe_621" data-name="Gruppe 621" transform="translate(-1133.236 -3248.179)">
<path id="Pfad_100" data-name="Pfad 100" d="M365.029,272.7v126.08h-122.1V272.7c0-9.014-.1-9.194,8.624-9.194H356.7C365.518,263.5,364.406,263.74,365.029,272.7Z" transform="translate(890.303 2984.676)" fill="url(#linear-gradient)"/>
<g id="Gruppe_46" data-name="Gruppe 46" transform="translate(1150.5 3302.419)">
<line id="Linie_6" data-name="Linie 6" x2="89" transform="translate(0 4)" fill="none" stroke="#e3e0de" stroke-linecap="round" stroke-width="2.5"/>
<line id="Linie_7" data-name="Linie 7" x2="73" transform="translate(1 18)" fill="none" stroke="#e3e0de" stroke-linecap="round" stroke-width="2.5"/>
<line id="Linie_9" data-name="Linie 9" x2="20" transform="translate(64 55)" fill="none" stroke="#e3e0de" stroke-linecap="round" stroke-width="2.5"/>
<line id="Linie_10" data-name="Linie 10" x2="60" transform="translate(1 32)" fill="none" stroke="#e3e0de" stroke-linecap="round" stroke-width="2.5"/>
</g>
<text id="Reife_und_Dipl-_omprüfung" data-name="Reife und Diplomprüfung" transform="translate(1151 3277.481)" fill="#242b36" font-size="13" font-family="PTSans-Regular, PT Sans" letter-spacing="0.015em"><tspan x="0" y="0">Reife und Dipl-</tspan><tspan x="0" y="17">omprüfung</tspan></text>
    <circle id="Ellipse_348" data-name="Ellipse 348" cx="10.065" cy="10.065" r="10.065" transform="translate(1183 3348.981)" fill="#485a74"/>
</g>
</svg>
