
<svg xmlns="http://www.w3.org/2000/svg" width="36.595" height="36.521" viewBox="0 0 36.595 36.521">
  <g id="sun-energy" transform="translate(0 -0.51)">
    <g id="Group_342" data-name="Group 342" transform="translate(0 0.51)">
      <g id="Group_341" data-name="Group 341">
        <path id="Path_448" data-name="Path 448" d="M119.032,35.983a1.427,1.427,0,1,0,2.429-1.5l-1.071-1.739a1.427,1.427,0,1,0-2.429,1.5Z" transform="translate(-109.333 -29.814)" fill="#222934"/>
        <path id="Path_449" data-name="Path 449" d="M34.106,340.008l-1.81,1a1.427,1.427,0,1,0,1.379,2.5l1.81-1a1.427,1.427,0,0,0-1.379-2.5Z" transform="translate(-29.303 -315.578)" fill="#222934"/>
        <path id="Path_450" data-name="Path 450" d="M236.959,5.5a1.427,1.427,0,0,0,1.427-1.427V1.937a1.427,1.427,0,0,0-2.853,0v2.14A1.427,1.427,0,0,0,236.959,5.5Z" transform="translate(-218.698 -0.51)" fill="#222934"/>
        <path id="Path_451" data-name="Path 451" d="M4.993,237.467a1.427,1.427,0,0,0-1.427-1.427H1.427a1.427,1.427,0,0,0,0,2.853h2.14A1.426,1.426,0,0,0,4.993,237.467Z" transform="translate(0 -219.206)" fill="#222934"/>
        <path id="Path_452" data-name="Path 452" d="M109.651,120.271q-.122-.019-.244-.042a8.276,8.276,0,0,1,.365-16.329c.1-.014.2-.026.3-.037a1.427,1.427,0,1,0-.29-2.839c-.137.014-.274.031-.409.049a11.13,11.13,0,0,0-.491,21.96c.108.02.218.039.327.056a1.427,1.427,0,1,0,.438-2.819Z" transform="translate(-92.669 -93.834)" fill="#222934"/>
        <path id="Path_453" data-name="Path 453" d="M251.654,44.992a3.29,3.29,0,0,0-3.032-1.918h-2.565l5.688-9.466a1.427,1.427,0,0,0-1.223-2.161h-8.484a1.427,1.427,0,0,0-1.233.708l-8.32,14.277-.02.035a4.28,4.28,0,0,0,3.757,6.331h1.4l-3.6,10.039a2.034,2.034,0,0,0,.134,1.926,2.315,2.315,0,0,0,1.98,1h.011a2.69,2.69,0,0,0,1.885-.773,1.428,1.428,0,0,0,.121-.138l7.8-10.14a1.427,1.427,0,1,0-2.262-1.739l-5.8,7.543,3.108-8.657a1.427,1.427,0,0,0-1.343-1.909h-3.424a1.427,1.427,0,0,1-1.26-2.1l7.9-13.548H248l-5.688,9.466a1.427,1.427,0,0,0,1.223,2.161h5.086a.446.446,0,0,1,.439.255.422.422,0,0,1-.088.478l-.011.012-.586.7a1.427,1.427,0,0,0,2.186,1.834l.581-.692A3.269,3.269,0,0,0,251.654,44.992Z" transform="translate(-215.36 -29.236)" fill="#222934"/>
        <path id="Path_454" data-name="Path 454" d="M38.393,114.47l-1.741-1a1.427,1.427,0,1,0-1.419,2.475l1.741,1a1.427,1.427,0,1,0,1.419-2.475Z" transform="translate(-32.048 -105.222)" fill="#222934"/>
        <path id="Path_455" data-name="Path 455" d="M115.349,411.882a1.427,1.427,0,0,0-1.951.513l-1.042,1.786a1.427,1.427,0,1,0,2.464,1.438l1.042-1.786A1.427,1.427,0,0,0,115.349,411.882Z" transform="translate(-104.144 -382.299)" fill="#222934"/>
      </g>
    </g>
  </g>
</svg>
