:host {
  
  color: var(--strong-text-color);
  user-select: none;
}

:host(.active) {
  font-weight: bold;
}

:host a {
  cursor: pointer;
}

slot {
  font-weight: inherit;
  cursor: inherit;
  display: inline-block;
}

a {
  color: inherit;
  font-weight: inherit;
  cursor: inherit;
}

slidy-underline-wrapper {
  display: block;
  position: absolute;
  bottom: -.2em;
  border-radius: 2px;
  height: 2px;
  overflow: hidden;
  width: 100%;
}

slidy-underline {
  display: block;
  position: absolute;
  top: 0;
  background: var(--strong-text-color);
  border-radius: 2px;
  height: 2px;
}

link-body {
  width: fit-content;
  display: block;
  height: fit-content;
  position: relative;
}
