blog-post{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width: 650px;
    margin: 0 auto;
    justify-content: center;
}

blog-header{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    margin-left: -5%;
    width: 110%;
    font-weight: bold;
    margin-bottom: 40px;
}

blog-html{
    display: block;
    max-width: 650px;
    color: var(--strong-text-color);
    font-size: 17px;
    width: 100%;
}

blog-html *{
    max-width: 650px;
}

blog-html figure{
    margin: auto;
}

blog-html iframe{
    width: 650px;
    height: 365px;
}

blog-html figure *{
    border-radius: 8px;
    width: 100%;
}

blog-html table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

blog-html img {
    display: block;
    width: unset;
    height: 100%;
    margin: 50px auto 0 auto;
}

blog-html tr:nth-child(2n - 1) *:not(th){
    background-color: #f2f2f2
}

blog-html th, blog-html td {
    text-align: left;
    padding: 8px;
}


blog-extra{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-self: stretch;
}

blog-date{
    font-family: 'PT Mono', monospace;
    font-size: 15px;
}

blog-extra hr{
    flex-grow: 1;
    align-self: stretch;
    height: 2px;
    margin-left: 10px;
    border: none;
    background: var(--strong-text-color);
}

blog-image{
    position: relative;
    display: block;
    width: 110%;
    left: -5%;
     margin-bottom: 50px;
}

h2{
    font-size: 35px;
}

p + p{
    margin-top: 40px;
}

/*ghost.css gallery*/
.kg-gallery-container {
    display: flex;
    flex-direction: column;
    max-width: 1040px;
    width: 100vw;
    margin-top: 50px;
}

.kg-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.kg-gallery-image img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.kg-gallery-row:not(:first-of-type) {
    margin: 0.75em 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 0.75em;
}

.kg-gallery-card + .kg-image-card.kg-width-wide,
.kg-gallery-card + .kg-gallery-card,
.kg-image-card.kg-width-wide + .kg-gallery-card,
.kg-image-card.kg-width-wide + .kg-image-card.kg-width-wide {
    margin: -2.25em 0 3em;
}


blog-image img{
    width: 100%;
    max-width: 100%;
    height: auto;
    pointer-events: none;
    user-select: none;
    border-radius: 8px;
    box-shadow: var(--medium-shadow);
}

@media only screen and (max-width: 768px) {

    blog-post{
        min-width: unset;
        width: 100%;
        padding: 0 10vw;
        box-sizing: border-box;
    }

    blog-html iframe{
        width: 80vw;
        height: 45vw;
    }

    .kg-gallery-container {
        max-width: 100%;
    }

}

