blog-post
    blog-header
        blog-title 67. TGM-Ball 2020
        blog-date 15.06.2020
            hr
    blog-image
        img(src="/res/img/blog-thumbnail.png")
    blog-html
        h2 Einfuehrung
        p Der 67. TGM-Ball 2020 war ein historischer: er fand erstmals im Wiener Rathaus statt und zum ersten Mal in der langen Geschichte des TGM-Balls waren alle Wiener Zentrallehranstalten (TGM, Spengergasse, Rosensteingasse und Leyserstraße) vertreten. Zusätzlich bereicherten die drei Modeschulen Wiens (Herbststraße, Hetzendorf und Michelbeuern) die Veranstaltung.
        h2 Weiteres
        p Dies alles war nur möglich durch die monatelangen Vorbereitungen, die intensive Arbeit und die ausgezeichneten Kontakte des Ballorganisators, des Verbandes der Technologinnen und Technologen. Offensichtlich schätzen auch unsere Schülerinnen und Schüler dieses Engagement – der Ball war wie in den letzten Jahren bereits Wochen vorher ausverkauft!
        p Es gibt wahrscheinlich weltweit keinen Schulball, der vom Ambiente her mit diesem TGM-Ball mithalten konnte. Der Ball begann für viele bereits vor der Eröffnung, nämlich mit einem exquisiten Galadinner. Die Eröffnung selbst wurde in bewährter Manier durch Prof. Thomas Schäfer-Elmayer geleitet und durch das Eröffnungskomitee, bestehend aus Schülerinnen und Schülern aller beteiligten Schulen ausgeführt.

