blog-post{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width: 650px;
    margin: 0 auto;
}

blog-header{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    font-weight: bold;
    margin-bottom: 40px;
}

blog-html{
    display: block;
    max-width: 650px;
}

blog-html *{
    max-width: 650px;
}

blog-html figure{
    margin: auto;
    width: 575px;
}

blog-html figure img{
    border-radius: 8px;
    width: 100%;
}

blog-extra{
    margin-top: 1px;
    display: flex;
    flex-direction: row;
    align-self: stretch;
}

blog-date{
    font-family: 'PT Mono', monospace;
    font-size: 12px;
}

blog-extra hr{
    flex-grow: 1;
    align-self: stretch;
    height: 2px;
    margin-left: 10px;
    border: none;
    background: var(--strong-text-color);
}

blog-image{
    position: relative;
    display: block;
    width: 100%;
}

h2{
    font-size: 35px;
}

p + p{
    margin-top: 40px;
}

blog-image img{
    width: 100%;
    height: auto;
    pointer-events: none;
    user-select: none;
    border-radius: 8px;
    box-shadow: var(--medium-shadow);
}

@media only screen and (max-width: 768px) {

    blog-post{
        min-width: unset;
        width: 100%;
        padding: 0 10vw;
        box-sizing: border-box;
    }
}
