:host {
    display: block;
    max-width: min(625px, 100%);
    min-width: 625px;
    width: auto;
    user-select: auto;
}

vertiefungs-card{
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    padding: 25px;
}

vertiefungs-content * {
    display: block;
    width: 100%;
}

vertiefungs-thumbnail{
    display: block;
    height: auto;
    width: 100%;
    margin-right: 25px;
    padding: 1%;
}

vertiefungs-img{
    display: block;
    height: 100%;
    width: 100%;
    background: url("./../../../../res/img/settings.svg") center no-repeat;
    background-size: contain;

}

vertiefungs-title{
    font-size: 30px;
    color: var(--strong-text-color);
    font-weight: bold;
    line-height: 2em;
}
