<svg xmlns="http://www.w3.org/2000/svg" width="40.342" height="40.342" viewBox="0 0 40.342 40.342">
  <g id="microscope_equipment_doctor_bacteria" data-name="microscope, equipment, doctor, bacteria" transform="translate(-3 -3)">
    <path id="Path_404" data-name="Path 404" d="M16.758,24.1a1.552,1.552,0,1,0,0-3.1H10.552a1.552,1.552,0,0,0,0,3.1Z" transform="translate(3.31 9.929)"/>
    <path id="Path_405" data-name="Path 405" d="M27.56,12.375a4.646,4.646,0,0,0-4.389-3.168,4.6,4.6,0,0,0-1.552.286V4.552A1.552,1.552,0,0,0,20.068,3H13.861A1.552,1.552,0,0,0,12.31,4.552V9.206H10.758a1.552,1.552,0,0,0-1.552,1.552V26.274a1.552,1.552,0,0,0,1.552,1.552H23.171a1.552,1.552,0,0,0,1.552-1.552v-3.1a1.552,1.552,0,1,0-3.1,0v1.552H12.31V12.31H18.8a4.6,4.6,0,0,0-.286,1.552,4.645,4.645,0,0,0,9,1.615,13.975,13.975,0,0,1,12.718,13.9V40.239H4.552a1.552,1.552,0,0,0,0,3.1H41.79a1.552,1.552,0,0,0,1.552-1.552V29.374a17.077,17.077,0,0,0-15.782-17ZM18.516,9.206h-3.1V6.1h3.1Zm4.655,6.206a1.552,1.552,0,1,1,1.552-1.552A1.552,1.552,0,0,1,23.171,15.413Z"/>
    <path id="Path_406" data-name="Path 406" d="M26.552,32.006A1.552,1.552,0,0,0,28.1,30.454V24.248a13.935,13.935,0,0,0-6.329-11.695,1.552,1.552,0,1,0-1.7,2.6A10.837,10.837,0,0,1,25,24.248v6.206A1.552,1.552,0,0,0,26.552,32.006Z" transform="translate(9.031 5.13)"/>
  </g>
</svg>
