ausmacht-section
    center
        c-textblob.heading(heading="Was uns Ausmacht" subheading="als Raumfahrtstechnik" hsize='{"max":60, "min":40}')
    card-container
        c-selection-card( note='Fachspezifische' heading='Vertiefungen' background='none'
            selection='[' +
            '{"icon":"satellite", "title":"Satellitentechnik", "content":"Satellitendesign und Konstruktion", "link":""},' +
            '{"icon":"rocket", "title":"Raketentechnik", "content":"Raketenentwicklung, Abschussvorbereitung", "link":""},' +
            '{"icon":"rover", "title":"Raumfahrtrobotik", "content":"Weltraumfähige Roboter mit autonomen Anwendungen", "link":""},' +
            '{"icon":"rover", "title":"Raumfahrtrobotik", "content":"Weltraumfähige Roboter mit autonomen Anwendungen", "link":""},' +
            '{"icon":"space-aids", "title":"Raumfahrtbiologie", "content":"Biologische Untersuchungen in der Schwerelosigkeit", "link":""}' +
            ']')
        c-unterricht-systeme-card(heading="Labor" headingBackground="#98AAB6" note="Unterrichtssystem"  thumbnail='/res/img/unterrichtSysteme_1.jpg' href="/" contenttitle="Im Aufbruch" content='Das Labor ermöglicht den SchülerInnen, ihren Stundenplan selbst zu organisieren. Dabei lernen sie Eigenverantwortung und Teamarbeit.')
        c-unterricht-systeme-card(heading="Werkstätte" headingBackground="#C1DBCB" note="Unsere"  thumbnail='/res/img/werk.jpg' href="/" contenttitle="Werkstätte" content='Unser Unterricht in der Werkstätte ermöglicht es den SchülerInnen auch im fachpraktischen Bereich Erfahrung zu sammeln.')
