ausmacht-section
    center
        c-textblob.heading(hsize='{"max":60, "min":40}')
    card-container
    vertiefung-section
        c-textblob.vertiefung(heading="Vertiefungen" subheading="der Elektrotechnik" note="Die" hsize='{"max":60, "min":40}' content="Die Abteilung Raumfahrt bietet einen besonders umfassende technische Ausbildung. Grundsätzlich beschäftigt sie sich mit allen Bereichen")
        c-vertiefungs-container
