

c-icon-card {
  display: block;
  margin: 0 28px 56px 28px;
  width: calc(6% + 180px);
  min-width: 240px;
  height: calc(4vw + 110px);
  min-height: 160px;

  background: #FEFBF9;

  /* scroll-snap-align: start;
  scroll-margin-left: 40px; */
}

component-body {
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: -56px;
  height: auto;

  /* Only important on mobile */
  overflow-x: auto;
  padding: 20px 0;
/* 
  scroll-snap-type: x proximity; */
}

:host(:not(.wrap)) {
  flex-wrap: nowrap;
}

:host(.wrap) {
  flex-wrap: wrap;
}


component-body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
component-body::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

@media only screen and (max-width: 1200px) {
  component-body {
    margin-bottom: 0;
    flex-wrap: nowrap;
    justify-content: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  :host(:not(.wrap)) c-icon-card:first-of-type {
    margin-left: 40px;
  }

  :host(:not(.wrap)) c-icon-card {
    margin-bottom: 0;
  }

  :host(.wrap) c-icon-card {
    width: 100%;
    height: 53vw;
  }
}
