c-card-carousel {
  position: absolute;
  top: 100%;
  display: inline-block;
  /* height: 250px; */
  transform: translateY(-125px);
  /* width: 80%; */
  /* left: 10%; */
  /* display: flex; */
  /* justify-content: space-evenly; */
  /* align-items: center; */
  width: 100%;
  z-index: 2;
}

c-card-carousel.wrap {
  position: relative;
}

/* card-container > * {
  height: 170px;
} */
