textblob {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

notebox {
    display: flex;
    flex-direction: row;
}

notebox note {
    margin-top: 5px;
    align-content: flex-start;
    line-height: 0.8em;
    font-size: 11px;
    font-family: 'PT Mono', monospace;
}

notebox connector {
    display: block;
    width: 25px;
    padding: 0 5px;
}

notebox connector hr {
    height: 1px;
    background: black;
}

textbox {
    margin-top: 5px;
    margin-left: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

textbox heading {
    font-size:  calc(30px + (60 - 35) * ((100vw - 300px) / (1600 - 300)));
    line-height: 0.8em;
}

textbox subheading {
    margin-top: 0.25em;
    font-size:  calc(25px + (35 - 25) * ((100vw - 300px) / (1600 - 300)));
    color: #27a1d4;
}

textbox *:nth-child(n+3) {
    margin-top: 1em;
}

textbox content {
    font-size: 13px;
}

textbox a.link {
    font-size: 13px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    textblob {
        display: flex;
        flex-direction: column-reverse;
    }

    notebox connector {
        width: 35px;
    }

    textbox heading {
        font-size:  calc(35px + (80 - 35) * ((100vw - 300px) / (1600 - 300)));
    }

    textbox subheading {
        margin-top: 0.25em;
        font-size:  calc(35px + (45 - 35) * ((100vw - 300px) / (1600 - 300)));
        color: #27a1d4;
    }
}