<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1706.314" height="1120.28" viewBox="0 0 1706.314 1120.28">
  <defs>
    <filter id="Path_146" x="0" y="0" width="1706.314" height="1120.28" filterUnits="userSpaceOnUse">
      <feOffset input="SourceAlpha"/>
      <feGaussianBlur stdDeviation="15" result="blur"/>
      <feFlood flood-opacity="0.161"/>
      <feComposite operator="in" in2="blur"/>
      <feComposite in="SourceGraphic"/>
    </filter>
  </defs>
  <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Path_146)">
    <path id="Path_146-2" data-name="Path 146" d="M700.555-326,954.175,704.28l-1616.314-.348L168-325.547Z" transform="translate(707.14 371)" fill="var(--secondary-background-color)"/>
  </g>
</svg>
