
<svg xmlns="http://www.w3.org/2000/svg" width="36" height="33.6" viewBox="0 0 36 33.6">
  <g id="XMLID_14" data-name="XMLID 14" transform="translate(0 -0.066)">
    <path id="Path_457" data-name="Path 457" d="M16.8,252.2H2.4A2.4,2.4,0,0,1,0,249.8v-8.4A2.4,2.4,0,0,1,2.4,239H16.8a2.4,2.4,0,0,1,2.4,2.4v8.4A2.4,2.4,0,0,1,16.8,252.2ZM2.4,241.4v8.4H16.8l0-8.4Z" transform="translate(0 -222.133)"/>
    <path id="Path_458" data-name="Path 458" d="M119.467,409.667h2.4v3.6h-2.4Z" transform="translate(-111.067 -380.8)"/>
    <path id="Path_459" data-name="Path 459" d="M85.333,443.8h7.2v2.4h-7.2Z" transform="translate(-79.333 -412.533)"/>
    <path id="Path_460" data-name="Path 460" d="M70.667,59.667h-2.4v-8.4h8.4v2.4h-6Z" transform="translate(-63.467 -47.6)"/>
    <path id="Path_461" data-name="Path 461" d="M332.667,315.667h-8.4v-2.4h6v-6h2.4Z" transform="translate(-301.467 -285.6)"/>
    <path id="Path_462" data-name="Path 462" d="M255.733,13.267h-14.4a2.4,2.4,0,0,1-2.4-2.4v-8.4a2.4,2.4,0,0,1,2.4-2.4h14.4a2.4,2.4,0,0,1,2.4,2.4v8.4A2.4,2.4,0,0,1,255.733,13.267Zm-14.4-10.8v8.4h14.4l0-8.4Z" transform="translate(-222.133 0)"/>
    <path id="Path_463" data-name="Path 463" d="M358.4,170.733h2.4v3.6h-2.4Z" transform="translate(-333.2 -158.666)"/>
    <path id="Path_464" data-name="Path 464" d="M324.267,204.867h7.2v2.4h-7.2Z" transform="translate(-301.467 -190.4)"/>
  </g>
</svg>
