versuchsanstalt-section
    versuchsanstalt-container
        versuchsanstalt-circle
        versuchsanstalt-L-container
            versuchsanstalt-L
        c-textblob(heading="Versuchsanstalt", subheading="österreichweit.", note="Die Größte", hsize='{"max":75, "min":35}', hmobile='{"max":40, "max":30}', hscale="0.5", content="Die Staatliche Versuchsanstalt am TGM wurde als „Probieranstalt für mechanisch-technische Materialprüfung“ im Jahr 1887 gegründet. Mit 100 Angestellten ist sie die größte in Österreich.\n" +
            "\n" +
            "Sie ist in ihrer aktuellen Organisationsform in 6 Fachbereiche untergliedert. Unten können Sie mehr erfahren.", linktext="Mehr erfahren", linkhref="/georgsSandbox")
        versuchsanstalt-document-container
            versuchsanstalt-document
