<svg xmlns="http://www.w3.org/2000/svg" width="31.305" height="35.959" viewBox="0 0 31.305 35.959">
  <g id="network" transform="translate(-27.055 -0.001)">
    <g id="Group_491" data-name="Group 491" transform="translate(27.055 0.001)">
      <path id="Path_714" data-name="Path 714" d="M48.418,19.622l3.273.65a3.337,3.337,0,1,0,.339-1.687l-3.387-.672a5.355,5.355,0,0,0-1.4-3.458L51.811,8a4.173,4.173,0,1,0-1.4-1l-4.512,6.374a5.362,5.362,0,0,0-6.552,1.026L33.43,9.817a3.344,3.344,0,1,0-1.1,1.32l6.058,4.7a5.364,5.364,0,0,0,1.274,6.206l-3.629,5.132A4.441,4.441,0,1,0,37.344,28.3L41.1,22.987a5.357,5.357,0,0,0,4.127.091l4.489,6.631a3.767,3.767,0,1,0,1.4-1L46.71,22.2A5.39,5.39,0,0,0,48.418,19.622Zm6.6-1.175A1.616,1.616,0,1,1,53.4,20.063,1.616,1.616,0,0,1,55.021,18.447ZM53.46,1.742a2.441,2.441,0,1,1-2.441,2.441A2.441,2.441,0,0,1,53.46,1.742ZM30.406,10.026A1.616,1.616,0,1,1,32.021,8.41,1.618,1.618,0,0,1,30.406,10.026Zm3.471,23.73a2.708,2.708,0,1,1,2.708-2.708A2.708,2.708,0,0,1,33.877,33.756Zm18.668-3.609A2.053,2.053,0,1,1,50.492,32.2,2.055,2.055,0,0,1,52.545,30.148Zm-9.273-8.421a3.659,3.659,0,0,1-3.655-3.655h0a3.655,3.655,0,1,1,3.655,3.655Z" transform="translate(-27.055 -0.001)"/>
    </g>
  </g>
</svg>
