stay-in-frame

    card-container
        c-news-card(heading="Samstag"  note="18.04.20"     thumbnail='/res/img/dj.jpg' href="/" contenttitle="DJ-Workshop" content='Bald ist es so weit. Der große Radaz lüftet sein Geheimniss, mit welchem er an die Spitze gekommen ist.')
        c-news-card(heading="Montag"  note="20.04.20"      thumbnail='/res/img/rolli.jpg' href="/" contenttitle="Rollstuhlfahren" content='Mit dem 20.04 wird der gesamte Eingagsbereich Barrierefrei sein. Willkommen Rollstuhlfahrer!')
        c-news-card(heading="Donnerstag"  note="16.04.20"  thumbnail='/res/img/ball.jpg' href="/" contenttitle="TGM-Ball" content='Der 100. TGM-Ball findet kommenden Donnerstag statt, jetzt Tickets sichern!')

    all-frame
        map-frame
            <svg width="978" height="1047" viewBox="0 0 978 1047" fill="white" xmlns="http://www.w3.org/2000/svg" id="mapSvg">
            <g id="all2">
            <g id="all">
            <g filter="url(#filter0_d)" id="map">
            <path d="M850 704.332L846.9 722C846.9 722 726 644.5 656.5 704.332C587 764.163 511.5 722 511.5 722L413.5 620C413.5 620 311.699 483 285.5 387C259.301 291 485 9 485 9L511.5 9.00013L526.999 9.00013L535 9.00007L544 9.00007L560.499 9.00002L580.5 9.00002L620 8.99998L667.5 8.99998L769 8.99998L965 8.99998L929 225L905 370.5L900 403.5L893.501 443L890.001 464L888.5 472L886.5 483L880 524.5L864 620L862 633L859 650.5L855.5 671L853 686L850 704.332Z" fill="#005264" fill-opacity="0.45"/>
            <path d="M1.0001 108.5L0.999625 8.99973L139.999 8.99971H234.499L261.499 8.99976L291.499 8.99979L320.499 8.99973L335.999 8.9997L352.499 8.99974L359.999 8.9998L372.999 8.99982L391.499 8.99979L407.999 8.99983L427.499 8.99986L445.499 8.99969L456.999 8.99991L469.999 8.99993L486 8.99969C486 8.99969 666.484 220 691.5 309C716.516 398 711.5 411.5 741.5 438.5C771.5 465.5 847 721.5 847 721.5L844 740L823.5 862L793.5 1046.5H545.996H472.996H419.996H370.996H297.677H87.4971H0.996094L0.996525 726.5L0.997749 645L0.998444 593L0.996658 517.5L0.996525 328.5L1.0001 108.5Z" fill="#005264" fill-opacity="0.45"/>
            </g>
            </g>
            </g>
            <defs>
            <filter id="filter0_d" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
            <feOffset/>
            <feGaussianBlur stdDeviation="7.5"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
            </filter>
            </defs>
            </svg>


        over-layer

        map-frame#pointer
            map-pointer-center
                map-pointer-wrapper
                    map-pointer-animation
                        map-pointer
                            pointer-text tgm
                            c-filled-arrow-icon
                            pointer-info-box
                                info-box-text
                                    span Wexstraße 19-23,
                                    br
                                    span 1200 Wien
                                c-link(link="https://goo.gl/maps/cU7VSEBuzPXthAmRA" content="View on maps")
                                c-image





scroll-ly
