scroll-ly {
  display: block;
  position: relative;
  /* Height gets dynamicly set by js */
  /* height: 850px; */
  width: 0px;
}

card-container {
  position: absolute;
  width: 80%;
  height: 100%;
  top: 0;
  left: 20%;
  display: flex;
  overflow-y: auto;
}


card-container > * {
  position: relative;
  float: left;
  margin: auto 25px;
  flex: 0 0 350px;
  height: 450px;
}

card-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
card-container::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}




map-frame {
  display: flex;
  align-items: center;
  max-width: 980px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
}

all-frame {
  width: 100%;
  height: 100vh;
  display: block;
}

map-pointer-center {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 257px;
  height: 478.66px;
  width: 623.41px;
  position: absolute;
}

map-pointer-wrapper {
  position: absolute;
  opacity: 0;
  transform: translateY(-5px);
  display: none;
}

map-pointer-animation {
  display: block;
  position: absolute;
}

map-pointer {
  display: flex;
  align-items: center;
  flex-direction: column;
  pointer-events: all;
  user-select: none;
  cursor: pointer;
  pointer-events: all;

  /* tgm position is declared on top of ts file */
}

pointer-text {
  position: relative;
  display: block;
  font-weight: bold;
  font-size: 20px;
  z-index: 1;
}

c-filled-arrow-icon {
  position: relative;
  display: block;
  width: 14px;
  height: 14px;
  transform: translateY(-3px) rotate(135deg);
}

pointer-info-box {
  display: block;
  position: absolute;
  background: white;
  border-radius: 15px;
  width: 250px;
  height: 115px;
  bottom: 12px;
  left: -15px;
  display: none;
  opacity: 0;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
  cursor: auto;
  overflow: hidden;
}

over-layer {
  width: 100%;
  height: 300%;
  position: absolute;
  top: -100%;
  left: 0;
  opacity: 0;
  display: none;

  background-color: rgba(0, 0, 0, 0.15);
}



/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
  over-layer {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);

    background-color: rgba(0, 0, 0, 0.1);
  }
}

stay-in-frame {
  position: sticky;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
}

pointer-info-box > * {
  opacity: 0;
}

pointer-info-box c-link {
  position: absolute;
  display: block;
  bottom: 10px;
  left: 15px;
  font-size: 14px;
}

pointer-info-box info-box-text {
  position: absolute;
  display: block;
  bottom: 38px;
  left: 15px;
  user-select: text;

  font-size: 14px;
}

tgm-img {
  background-image: url("./../../../../res/img/tgmOutside.png");
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 80px;
  opacity: 1;
  border-radius: inherit;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

map-frame#pointer {
  pointer-events: none;
}

c-textblob {
  display: block;
  margin: auto;
  pointer-events: all;
}

textblob-wrapper {
  display: flex;
  position: absolute;
  width: 50%;
  height: 100%;
}

textblob-wrapper.map {
  right: 0;
  left: 50%;
}


textblob-wrapper.news {
  right: 50%;
  left: 0;
}

textblob-fadin {
  opacity: 0;
  transform: translateY(-10);
  display: none;
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute
}

textblob-fadin.news {
  opacity: 1;
  display: block;
  transform: translateY(.1);
}