<svg xmlns="http://www.w3.org/2000/svg" width="38.353" height="26.589" viewBox="0 0 38.353 26.589">
  <g id="delivery" transform="translate(0 -78.521)">
    <g id="Group_465" data-name="Group 465" transform="translate(24.131 95.441)">
      <g id="Group_464" data-name="Group 464">
        <path id="Path_667" data-name="Path 667" d="M326.985,304.4a4.834,4.834,0,1,0,4.834,4.834A4.84,4.84,0,0,0,326.985,304.4Zm0,7.252a2.417,2.417,0,1,1,2.417-2.417A2.42,2.42,0,0,1,326.985,311.655Z" transform="translate(-322.151 -304.403)"/>
      </g>
    </g>
    <g id="Group_467" data-name="Group 467" transform="translate(7.614 95.441)">
      <g id="Group_466" data-name="Group 466">
        <path id="Path_668" data-name="Path 668" d="M106.481,304.4a4.834,4.834,0,1,0,4.834,4.834A4.84,4.84,0,0,0,106.481,304.4Zm0,7.252a2.417,2.417,0,1,1,2.417-2.417A2.42,2.42,0,0,1,106.481,311.655Z" transform="translate(-101.647 -304.403)"/>
      </g>
    </g>
    <g id="Group_469" data-name="Group 469" transform="translate(24.776 80.938)">
      <g id="Group_468" data-name="Group 468">
        <path id="Path_669" data-name="Path 669" d="M338.2,111.456a1.209,1.209,0,0,0-1.08-.666h-6.365v2.417h5.62l3.291,6.546,2.16-1.086Z" transform="translate(-330.756 -110.79)"/>
      </g>
    </g>
    <g id="Group_471" data-name="Group 471" transform="translate(16.195 99.107)">
      <g id="Group_470" data-name="Group 470">
        <rect id="Rectangle_341" data-name="Rectangle 341" width="9.145" height="2.417"/>
      </g>
    </g>
    <g id="Group_473" data-name="Group 473" transform="translate(3.424 99.107)">
      <g id="Group_472" data-name="Group 472">
        <path id="Path_670" data-name="Path 670" d="M51.113,353.345h-4.19a1.209,1.209,0,1,0,0,2.417h4.19a1.209,1.209,0,1,0,0-2.417Z" transform="translate(-45.715 -353.345)"/>
      </g>
    </g>
    <g id="Group_475" data-name="Group 475" transform="translate(3.424 78.521)">
      <g id="Group_474" data-name="Group 474">
        <path id="Path_671" data-name="Path 671" d="M80.389,91.719l-2.377-3.062a1.207,1.207,0,0,0-.954-.467H68.275V79.73a1.208,1.208,0,0,0-1.209-1.209H46.924a1.209,1.209,0,1,0,0,2.417H65.858V89.4a1.208,1.208,0,0,0,1.209,1.209h9.4l1.76,2.267v6.233H74.882a1.209,1.209,0,1,0,0,2.417h4.552a1.209,1.209,0,0,0,1.209-1.209V92.46A1.21,1.21,0,0,0,80.389,91.719Z" transform="translate(-45.715 -78.521)"/>
      </g>
    </g>
    <g id="Group_477" data-name="Group 477" transform="translate(1.974 92.984)">
      <g id="Group_476" data-name="Group 476">
        <path id="Path_672" data-name="Path 672" d="M33.121,271.6h-5.56a1.209,1.209,0,1,0,0,2.417h5.559a1.209,1.209,0,0,0,0-2.417Z" transform="translate(-26.353 -271.597)"/>
      </g>
    </g>
    <g id="Group_479" data-name="Group 479" transform="translate(0 88.23)">
      <g id="Group_478" data-name="Group 478" transform="translate(0 0)">
        <path id="Path_673" data-name="Path 673" d="M11.522,208.134H1.209a1.209,1.209,0,0,0,0,2.417H11.522a1.209,1.209,0,0,0,0-2.417Z" transform="translate(0 -208.134)"/>
      </g>
    </g>
    <g id="Group_481" data-name="Group 481" transform="translate(1.974 83.476)">
      <g id="Group_480" data-name="Group 480" transform="translate(0 0)">
        <path id="Path_674" data-name="Path 674" d="M37.875,144.672H27.562a1.209,1.209,0,1,0,0,2.417H37.875a1.209,1.209,0,1,0,0-2.417Z" transform="translate(-26.353 -144.672)"/>
      </g>
    </g>
  </g>
</svg>
