<svg xmlns="http://www.w3.org/2000/svg" width="37.843" height="37.821" viewBox="0 0 37.843 37.821">
  <g id="sketch" transform="translate(0 -0.153)">
    <g id="Group_553" data-name="Group 553" transform="translate(3.153 6.437)">
      <g id="Group_552" data-name="Group 552">
        <path id="Path_761" data-name="Path 761" d="M45.029,85.179a2.365,2.365,0,0,0-2.365,2.365v6.307h1.577V87.544a.788.788,0,0,1,.788-.788H63.951V85.179Z" transform="translate(-42.664 -85.179)"/>
      </g>
    </g>
    <g id="Group_555" data-name="Group 555" transform="translate(3.153 21.417)">
      <g id="Group_554" data-name="Group 554">
        <path id="Path_762" data-name="Path 762" d="M45.029,296.517a.788.788,0,0,1-.788-.788v-7.884H42.664v7.884a2.365,2.365,0,0,0,2.365,2.365h7.884v-1.577Z" transform="translate(-42.664 -287.845)"/>
      </g>
    </g>
    <g id="Group_557" data-name="Group 557" transform="translate(0 12.745)">
      <g id="Group_556" data-name="Group 556" transform="translate(0)">
        <path id="Path_763" data-name="Path 763" d="M25,189.892,5.851,170.745a.788.788,0,0,0-1.115,0l-4.5,4.5a.788.788,0,0,0,0,1.115l19.147,19.147a.788.788,0,0,0,1.115,0l4.5-4.5A.788.788,0,0,0,25,189.892Zm-5.062,3.948L1.9,175.807l3.39-3.39,18.032,18.032Z" transform="translate(0 -170.514)"/>
      </g>
    </g>
    <g id="Group_559" data-name="Group 559" transform="translate(22.863 30.089)">
      <g id="Group_558" data-name="Group 558">
        <path id="Path_764" data-name="Path 764" d="M321.157,405.179H309.331v1.577H318V410.7a.788.788,0,0,0,.788.788h2.365a3.154,3.154,0,1,0,0-6.307Zm0,4.73H319.58v-3.154h1.577a1.577,1.577,0,0,1,0,3.154Z" transform="translate(-309.331 -405.179)"/>
      </g>
    </g>
    <g id="Group_561" data-name="Group 561" transform="translate(30.747 6.437)">
      <g id="Group_560" data-name="Group 560">
        <path id="Path_765" data-name="Path 765" d="M419.94,85.179H416v1.577h3.942a1.577,1.577,0,0,1,1.577,1.577v23.652h1.577V88.333A3.154,3.154,0,0,0,419.94,85.179Z" transform="translate(-415.998 -85.179)"/>
      </g>
    </g>
    <g id="Group_563" data-name="Group 563" transform="translate(12.057 22.436)">
      <g id="Group_562" data-name="Group 562">
        <rect id="Rectangle_355" data-name="Rectangle 355" width="3.345" height="1.577" transform="translate(0 2.365) rotate(-45)"/>
      </g>
    </g>
    <g id="Group_565" data-name="Group 565" transform="translate(8.903 19.282)">
      <g id="Group_564" data-name="Group 564">
        <rect id="Rectangle_356" data-name="Rectangle 356" width="3.345" height="1.577" transform="translate(0 2.365) rotate(-45)"/>
      </g>
    </g>
    <g id="Group_567" data-name="Group 567" transform="translate(15.209 25.59)">
      <g id="Group_566" data-name="Group 566">
        <rect id="Rectangle_357" data-name="Rectangle 357" width="3.345" height="1.577" transform="translate(0 2.365) rotate(-45)"/>
      </g>
    </g>
    <g id="Group_569" data-name="Group 569" transform="translate(18.364 28.745)">
      <g id="Group_568" data-name="Group 568">
        <rect id="Rectangle_358" data-name="Rectangle 358" width="3.345" height="1.577" transform="translate(0 2.365) rotate(-45)"/>
      </g>
    </g>
    <g id="Group_571" data-name="Group 571" transform="translate(5.748 16.129)">
      <g id="Group_570" data-name="Group 570" transform="translate(0 0)">
        <rect id="Rectangle_359" data-name="Rectangle 359" width="3.345" height="1.577" transform="translate(0 2.365) rotate(-45)"/>
      </g>
    </g>
    <g id="Group_573" data-name="Group 573" transform="translate(17.403 0.153)">
      <g id="Group_572" data-name="Group 572" transform="translate(0 0)">
        <path id="Path_766" data-name="Path 766" d="M252.06,1.9,250.97.813a2.386,2.386,0,0,0-3.295,0L235.687,12.8a.788.788,0,0,0,0,1.115l3.27,3.27a.788.788,0,0,0,1.115,0L252.06,5.2h0A2.329,2.329,0,0,0,252.06,1.9Zm-1.114,2.179L239.514,15.513l-2.155-2.155L248.791,1.928a.77.77,0,0,1,1.064,0l1.09,1.089h0A.753.753,0,0,1,250.946,4.082Z" transform="translate(-235.456 -0.153)"/>
      </g>
    </g>
    <g id="Group_575" data-name="Group 575" transform="translate(15.768 13.109)">
      <g id="Group_574" data-name="Group 574">
        <path id="Path_767" data-name="Path 767" d="M218.768,178.222l-3.4,1.136,1.136-3.408-1.5-.5-1.635,4.9a.788.788,0,0,0,.748,1.038.8.8,0,0,0,.246-.038l4.9-1.635Z" transform="translate(-213.328 -175.451)"/>
      </g>
    </g>
    <g id="Group_577" data-name="Group 577" transform="translate(27.442 2.992)">
      <g id="Group_576" data-name="Group 576">
        <rect id="Rectangle_360" data-name="Rectangle 360" width="1.577" height="4.624" transform="translate(0 1.115) rotate(-45)"/>
      </g>
    </g>
    <g id="Group_579" data-name="Group 579" transform="translate(16.556 17.475)">
      <g id="Group_578" data-name="Group 578">
        <rect id="Rectangle_361" data-name="Rectangle 361" width="11.826" height="1.577"/>
      </g>
    </g>
    <g id="Group_581" data-name="Group 581" transform="translate(29.959 17.475)">
      <g id="Group_580" data-name="Group 580">
        <rect id="Rectangle_362" data-name="Rectangle 362" width="1.577" height="1.577"/>
      </g>
    </g>
    <g id="Group_583" data-name="Group 583" transform="translate(33.113 17.475)">
      <g id="Group_582" data-name="Group 582">
        <rect id="Rectangle_363" data-name="Rectangle 363" width="1.577" height="1.577"/>
      </g>
    </g>
  </g>
</svg>
