:host {
  width: inherit;
  height: inherit;
}

component-body {
  background: var(--primary-background-color);
  width: inherit;
  height: inherit;
  overflow: hidden;
}

c-big-news-triangle-icon {
  /* Don't know if this is important
  height: inherit;*/
  position: absolute;
  display: block;
  height: calc(100% + 100px);
  width: auto;
  top: -50px;
  bottom: 0;
  left: -45%;
  right: 50%;
  pointer-events: none;
}

text-center {
  display: flex;
  position: absolute;
  top: 0;
  width: 35%;
  height: 100%;
}

c-image-textblob {
  margin: auto;
}

card-container {
  position: absolute;
  width: 80%;
  height: 100%;
  top: 0;
  left: 35%;
  display: flex;
  overflow-y: auto;
  transform: translateY(.1px);
  scroll-snap-type: x mandatory;
}


card-container > * {
  position: relative;
  float: left;
  margin: auto 25px;
  flex: 0 0 350px;
  height: 450px;
  scroll-snap-align: start;
}

