card-container
  c-news-card(heading="Samstag" headingBackground="#7D8A61" note="18.04.20"     thumbnail='url("/res/img/dj.jpg")' href="/" contenttitle="Frauen im Weltraum" content='Am 28.9.2020 findet ein Vortrag des ersten komplett weiblichen Astronautenteams statt.')
  c-news-card(heading="Montag" headingBackground="#7A5956" note="20.04.20"      thumbnail='url("/res/img/rolli.jpg")' href="/" contenttitle="HRT Rover landet am Mars" content='Ein Rover des TGM Robotikteams ist am Mars gelandet und hilft bei der Suche nach Wasser!')
  c-news-card(heading="Donnerstag" headingBackground="#9E876D" note="16.04.20"  thumbnail='url("/res/img/ball.jpg")' href="/" contenttitle="TGM-Ball" content='Der 100. TGM-Ball findet kommenden Donnerstag statt, jetzt Tickets sichern!')

c-big-news-triangle-icon
text-center 
  c-image-textblob(note="Termine und" heading="Aktuelles", subheading="aus der RT", content=`Bei rund 3000 Schülern geschieht ständig etwas. Bleiben Sie informiert, indem Sie unserer <c-link link="https://instagram.com/tgmhit/">Instagram</c-link> oder <c-link link="https://facebook.com/tgmhtl/">Facebook</c-link> Seite folgen.` alignment="left"  hsize='{"max": 60, "min": 40}' hmobile='{"max": 55, "min": 35}')