
<svg xmlns="http://www.w3.org/2000/svg" style="transform: scale(.8); transform-origin: center" width="35.787" height="27.559" viewBox="0 0 35.787 27.559">
  <g id="mail" transform="translate(-1.25 -4.25)">
    <path id="Path_896" data-name="Path 896" d="M32.459,31.809H5.827A4.758,4.758,0,0,1,1.25,26.919V9.139A4.758,4.758,0,0,1,5.827,4.25H32.459a4.758,4.758,0,0,1,4.577,4.889v17.78A4.758,4.758,0,0,1,32.459,31.809ZM5.827,6.917A2.155,2.155,0,0,0,3.747,9.139v17.78a2.155,2.155,0,0,0,2.081,2.222H32.459a2.155,2.155,0,0,0,2.081-2.222V9.139a2.155,2.155,0,0,0-2.081-2.222Z" fill="#282829"/>
    <path id="Path_897" data-name="Path 897" d="M19.131,18.794a5.147,5.147,0,0,1-2.746-.8L1.858,8.766a1.4,1.4,0,0,1-.449-1.778,1.188,1.188,0,0,1,1.664-.462l14.544,9.21a2.659,2.659,0,0,0,2.929,0l14.544-9.21a1.188,1.188,0,0,1,1.664.462A1.4,1.4,0,0,1,36.3,8.766L21.876,17.994a5.147,5.147,0,0,1-2.746.8Z" transform="translate(0.009 1.636)" fill="#282829"/>
  </g>
</svg>
