
<svg xmlns="http://www.w3.org/2000/svg" width="37.6" height="33.193" viewBox="0 0 37.6 33.193">
  <g id="power-plant" transform="translate(0 -30.002)">
    <path id="Path_440" data-name="Path 440" d="M35.878,53.789a33.336,33.336,0,0,1-1.6-18.108,1.1,1.1,0,0,0-1.088-1.273H18.506a1.1,1.1,0,0,0-1.088,1.273c1.231,7.8.252,12.342-1.069,16.5H8.813V35.509a1.1,1.1,0,0,0-1.1-1.1h0V31.1A1.1,1.1,0,0,0,6.61,30H2.2a1.1,1.1,0,0,0-1.1,1.1v3.3h0a1.1,1.1,0,0,0-1.1,1.1V62.093a1.1,1.1,0,0,0,1.1,1.1H36.5a1.1,1.1,0,0,0,1.1-1.1,25.012,25.012,0,0,0-1.722-8.3ZM19.78,36.61H31.92a34.828,34.828,0,0,0,1.869,17.875c.24.721.471,1.414.68,2.1H23.5v-3.3a1.1,1.1,0,0,0-1.1-1.1H18.657A34.2,34.2,0,0,0,19.78,36.61ZM21.3,54.382v6.609h-2.2v-3.3a1.1,1.1,0,0,0-1.1-1.1H12.118a1.1,1.1,0,0,0-1.1,1.1v3.3h-2.2V54.382Zm-4.407,6.609H13.219v-2.2h3.672ZM3.3,32.2h2.2v2.2H3.3ZM2.2,36.61H6.61V60.991H2.2ZM23.5,60.991v-2.2H35.043a16.475,16.475,0,0,1,.314,2.2Z" transform="translate(0)" fill="#222934"/>
    <path id="Path_441" data-name="Path 441" d="M317.975,186.579h1.251l-.787,1.745a1.1,1.1,0,1,0,2.009.905l1.487-3.3a1.1,1.1,0,0,0-1-1.554H319.67l.78-1.756a1.1,1.1,0,0,0-2.013-.895l-1.469,3.3a1.1,1.1,0,0,0,1.007,1.549Z" transform="translate(-293.603 -139.976)" fill="#222934"/>
  </g>
</svg>
