vertiefungs-container
    vertiefungs-item
        vertiefungs-extra-line-1
        vertiefungs-extra-line-2
        vertiefungs-extra-circle
        c-vertiefungs-card
    vertiefungs-item
        vertiefungs-extra-line-1
        vertiefungs-extra-line-2
        vertiefungs-extra-circle
        c-vertiefungs-card
            //-
                vertiefungs-card
                vertiefungs-thumbnail
                    vertiefungs-img
                vertiefungs-content
                    vertiefungs-title Erneuerbare Energien
                    vertiefungs-text Die Umwandlung von Strahlungsenergie der Sonne in elektrischen Strom (Photovoltaik) bzw. in Wärme (Solarthermie) oder der Aufbau von Windkraftanlagen – das sind nur einige der nachhaltigen Technologien aus dem Bereich der Erneuerbaren Energien.



