:host {
    display: block;
    max-width: min(400px, 100%);
    min-width: 250px;
    width: auto;
    user-select: auto;
}

@media only screen and (max-width: 768px) {
    :host {
        min-width: unset;
    }


}
:host(:hover) {
    transform: unset;
    background: rgb(245, 245, 245);
    box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, .07);
}

anmelden-card{
    display: flex;
    height: 100%;
    max-width: 100%;
    padding: 45px;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

note-box{
    display: block;
}

note-text{
    font-size: 12px;
    font-family: 'PT Mono', monospace;
    color: var(--weak-text-color);
    text-transform: uppercase;
    white-space: nowrap;
}

c-textblob{
    margin-bottom: 15px;
}

c-zertificate-man{
    display: block;
    width: 100%;
    flex-grow: 1;
}

content-box{
    display: block;
    margin-top: 15px;
}

content-text{
    font-size: 13px;
}

c-link{
    margin-top: 15px;
    font-size: 14px;
}

@media only screen and (max-width: 1450px) {
    :host {
        min-width: 450px;
    }

    anmelden-card {
        padding: 40px;
    }

    c-zertificate-man{
        height: 200px;
    }
}


@media only screen and (max-width:  768px) {
    :host{
        width: 100%;
        max-width: 100%;
        min-width: unset;
    }

    anmelden-card{
        padding: 35px;
    }

    image-container{
        margin: 0;
    }
}
