anmelden-card
    note-box
        note-text Hier
    c-textblob(heading="Anmelden", hsize='{"max":30, "min":27}', hminsize=25, hmobile='{"max": 32, "min":25}')
    c-zertificate-man
    content-box
        content-text Du möchtest dich bei einem unseren Lehrgängen anmelden?
    link-box
        c-link(link="", content="Los gehts")