anmelden-card
    note-box
        note-text Hier
    c-textblob(heading="Anmelden", hsize='{"max":27, "min":20}', hminsize=20, hmobile='{"max": 32, "min":25}')
    image-container
        image-box
    content-box
        content-text Du möchtest dich bei einem unseren Lehrgängen anmelden?
    c-link(link="georgsSandbox", content="Los gehts")
