
<svg id="calendar" style="transform: scale(.7); transform-origin: center" xmlns="http://www.w3.org/2000/svg" width="31.28" height="31.28" viewBox="0 0 31.28 31.28" style="transform-box: fill-box;">
  <path id="Path_884" data-name="Path 884" d="M367.222,192.444A1.222,1.222,0,1,0,366,191.222,1.222,1.222,0,0,0,367.222,192.444Z" transform="translate(-343.64 -178.392)" fill="#282829"/>
  <path id="Path_885" data-name="Path 885" d="M26.392,2.444H24.8V1.222a1.222,1.222,0,0,0-2.444,0V2.444H16.8V1.222a1.222,1.222,0,1,0-2.444,0V2.444h-5.5V1.222a1.222,1.222,0,1,0-2.444,0V2.444H4.887A4.893,4.893,0,0,0,0,7.331V26.392A4.893,4.893,0,0,0,4.887,31.28h9.347a1.222,1.222,0,0,0,0-2.444H4.887a2.446,2.446,0,0,1-2.444-2.444V7.331A2.446,2.446,0,0,1,4.887,4.887H6.415V6.109a1.222,1.222,0,0,0,2.444,0V4.887h5.5V6.109a1.222,1.222,0,1,0,2.444,0V4.887H22.36V6.109a1.222,1.222,0,0,0,2.444,0V4.887h1.588a2.446,2.446,0,0,1,2.444,2.444V14.3a1.222,1.222,0,0,0,2.444,0V7.331A4.893,4.893,0,0,0,26.392,2.444Z" fill="#282829"/>
  <path id="Path_886" data-name="Path 886" d="M277.392,270a7.392,7.392,0,1,0,7.392,7.392A7.4,7.4,0,0,0,277.392,270Zm0,12.341a4.948,4.948,0,1,1,4.949-4.949A4.954,4.954,0,0,1,277.392,282.341Z" transform="translate(-253.505 -253.505)" fill="#282829"/>
  <path id="Path_887" data-name="Path 887" d="M373.993,332.5h-.55v-1.283a1.222,1.222,0,0,0-2.444,0v2.5a1.222,1.222,0,0,0,1.222,1.222h1.772a1.222,1.222,0,0,0,0-2.444Z" transform="translate(-348.334 -309.839)" fill="#282829"/>
  <path id="Path_888" data-name="Path 888" d="M280.222,192.444A1.222,1.222,0,1,0,279,191.222,1.222,1.222,0,0,0,280.222,192.444Z" transform="translate(-261.955 -178.392)" fill="#282829"/>
  <path id="Path_889" data-name="Path 889" d="M193.222,279.444A1.222,1.222,0,1,0,192,278.222,1.222,1.222,0,0,0,193.222,279.444Z" transform="translate(-180.27 -260.077)" fill="#282829"/>
  <path id="Path_890" data-name="Path 890" d="M106.222,192.444A1.222,1.222,0,1,0,105,191.222,1.222,1.222,0,0,0,106.222,192.444Z" transform="translate(-98.585 -178.392)" fill="#282829"/>
  <path id="Path_891" data-name="Path 891" d="M106.222,279.444A1.222,1.222,0,1,0,105,278.222,1.222,1.222,0,0,0,106.222,279.444Z" transform="translate(-98.585 -260.077)" fill="#282829"/>
  <path id="Path_892" data-name="Path 892" d="M106.222,366.444A1.222,1.222,0,1,0,105,365.222,1.222,1.222,0,0,0,106.222,366.444Z" transform="translate(-98.585 -341.762)" fill="#282829"/>
  <path id="Path_893" data-name="Path 893" d="M193.222,366.444A1.222,1.222,0,1,0,192,365.222,1.222,1.222,0,0,0,193.222,366.444Z" transform="translate(-180.27 -341.762)" fill="#282829"/>
  <path id="Path_894" data-name="Path 894" d="M193.222,192.444A1.222,1.222,0,1,0,192,191.222,1.222,1.222,0,0,0,193.222,192.444Z" transform="translate(-180.27 -178.392)" fill="#282829"/>
</svg>
