<svg xmlns="http://www.w3.org/2000/svg" width="68.441" height="11.646" viewBox="0 0 68.441 11.646">
<path id="Pfad_1" data-name="Pfad 1" d="M182.567,673.69l8.025,8.025,8.025-8.025,8.025,8.025,8.025-8.025,8.025,8.025,8.025-8.025,8.025,8.025,8.025-8.025" transform="translate(-180.446 -671.569)" fill="none" stroke="#28bfff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
</svg>
