landing-textblob
    background-box
        background-shader
        background-image
    text-box
        c-textblob(heading="Schülerprojekte", subheading="der IT Abteilung", note="bemerkenswerte", hsize='{"max":70,"min":45}', hmobile='{"max":55,"min":25}', content="Im Zuge des ITP-Unterrichts wird Projektmanagement anhand von wirklich durchgeführten Projekten demonstriert.")
