<svg xmlns="http://www.w3.org/2000/svg" width="32.19" height="27.035" viewBox="0 0 32.19 27.035">
  <g id="chip" transform="translate(0 -41)">
    <path id="Path_732" data-name="Path 732" d="M27.475,41H4.715A4.721,4.721,0,0,0,0,45.715v17.6a4.721,4.721,0,0,0,4.715,4.715h22.76A4.721,4.721,0,0,0,32.19,63.32v-17.6A4.721,4.721,0,0,0,27.475,41ZM30.3,63.32a2.832,2.832,0,0,1-2.829,2.829H4.715A2.832,2.832,0,0,1,1.886,63.32v-17.6a2.832,2.832,0,0,1,2.829-2.829h22.76A2.832,2.832,0,0,1,30.3,45.715Z"/>
    <path id="Path_733" data-name="Path 733" d="M83.7,101H60.943a.943.943,0,0,0-.943.943v17.6a.943.943,0,0,0,.943.943H83.7a.943.943,0,0,0,.943-.943v-17.6A.943.943,0,0,0,83.7,101Zm-21.817,1.886H71.932l-.276.276a.943.943,0,0,0-.276.667v2.2H69.431v-.314a.943.943,0,0,0-.943-.943h-6.6Zm13.329,5.03v5.658H69.431v-5.658Zm-13.329-1.257h5.658V109.8H61.886Zm0,5.03h5.658v3.144H61.886Zm9.494,5.582L70.046,118.6h-8.16v-1.886h6.6a.943.943,0,0,0,.943-.943v-.314H71.38ZM82.76,118.6H72.714l.276-.276a.943.943,0,0,0,.276-.667v-2.2h1.949v.314a.943.943,0,0,0,.943.943h6.6Zm0-3.772H77.1v-3.144H82.76Zm0-5.03H77.1v-3.144H82.76Zm0-5.03h-6.6a.943.943,0,0,0-.943.943v.314H73.266v-1.81l1.334-1.334h8.16Z" transform="translate(-56.228 -56.228)"/>
  </g>
</svg>
