
<svg xmlns="http://www.w3.org/2000/svg" width="27.5" height="27.5" viewBox="0 0 27.5 27.5">
  <g id="tools-and-utensils" transform="translate(0.001 -0.001)" class="highlight">
    <g id="Group_173" data-name="Group 173" transform="translate(-0.001 0.792)">
      <g id="Group_172" data-name="Group 172">
        <path id="Path_235" data-name="Path 235" d="M26,26.828,14.607,15.434a2.417,2.417,0,0,0-3.75,3L9.615,22.167A27.652,27.652,0,0,1,3.449,32.276,2.417,2.417,0,0,0,.707,36.17l4.557,4.557a2.418,2.418,0,0,0,3.9-2.743q.751-.715,1.556-1.376l.792.792a2.414,2.414,0,0,0,2.79.453l6.077-3.038a2.416,2.416,0,0,0,.832-3.64l1.791-.6a2.417,2.417,0,0,0,3-3.75ZM7.543,39.588a.807.807,0,0,1-1.139,0L1.847,35.031a.806.806,0,0,1,1.139-1.139h0l4.557,4.557A.805.805,0,0,1,7.543,39.588Zm12.11-6.215-6.077,3.038a.8.8,0,0,1-.93-.151L12,35.614a26.875,26.875,0,0,1,7.516-3.877l.346.346A.805.805,0,0,1,19.653,33.373ZM8.121,36.748,4.687,33.314a29.288,29.288,0,0,0,6.456-10.637l.968-2.9,9.55,9.55C18.445,30.4,13.437,31.72,8.121,36.748Zm16.741-7.642a.807.807,0,0,1-1.139,0L12.329,17.713a.806.806,0,0,1,1.139-1.139L24.862,27.967A.806.806,0,0,1,24.862,29.106Z" transform="translate(0.001 -14.727)"/>
      </g>
    </g>
    <g id="Group_175" data-name="Group 175" transform="translate(22.347 1.263)">
      <g id="Group_174" data-name="Group 174">
        <path id="Path_236" data-name="Path 236" d="M419.738,23.729a.806.806,0,0,0-1.139,0l-2.279,2.279a.806.806,0,1,0,1.139,1.139l2.279-2.279A.806.806,0,0,0,419.738,23.729Z" transform="translate(-416.083 -23.493)"/>
      </g>
    </g>
    <g id="Group_177" data-name="Group 177" transform="translate(18.905 0.001)">
      <g id="Group_176" data-name="Group 176" transform="translate(0 0)">
        <path id="Path_237" data-name="Path 237" d="M352.811,0a.806.806,0,0,0-.806.806V3.085a.806.806,0,0,0,1.611,0V.807A.806.806,0,0,0,352.811,0Z" transform="translate(-352.005 -0.001)"/>
      </g>
    </g>
    <g id="Group_179" data-name="Group 179" transform="translate(23.609 6.93)">
      <g id="Group_178" data-name="Group 178">
        <path id="Path_238" data-name="Path 238" d="M442.661,129h-2.279a.806.806,0,1,0,0,1.611h2.279a.806.806,0,1,0,0-1.611Z" transform="translate(-439.577 -128.998)"/>
      </g>
    </g>
  </g>
</svg>
