ausmacht-section
    center
        c-textblob.heading(heading="Was uns Ausmacht" subheading="als Raumfahrtstechnik" hsize="{'max':60, 'min':40}")
    card-container
        c-selection-card( note='Fachspezifische' heading='Vertiefungen' background='none'
            selection='[' +
            '{"icon":"satellite", "title":"Satellitentechnik", "content":"Satellitendesign und Konstruktion", "link":"georgsSandbox"},' +
            '{"icon":"rocket", "title":"Raketentechnik", "content":"Raketenentwicklung, Abschussvorbereitung", "link":"georgsSandbox"},' +
            '{"icon":"rover", "title":"Raumfahrtrobotik", "content":"Weltraumfähige Roboter mit autonomen Anwendungen", "link":"georgsSandbox"},' +
            '{"icon":"space-aids", "title":"Raumfahrtbiologie", "content":"Biologische Untersuchungen in der Schwerelosigkeit", "link":"georgsSandbox"}' +
            ']')
        c-unterricht-systeme-card(heading="Labor" headingBackground="#98AAB6" note="Unterrichtssystem"  thumbnail='url("/res/img/unterrichtSysteme_1.png")' href="/" contenttitle="Im Aufbruch" content='Das Labor ermöglicht den SchülerInnen, ihren Stundenplan selbst zu organisieren. Dabei lernen sie Eigenverantwortung und Teamarbeit.')
        c-unterricht-systeme-card(heading="Frontal" headingBackground="#C1DBCB" note="Unterrichtssystem"  thumbnail='url("/res/img/unterrichtSysteme_2.png")' href="/" contenttitle="Herkömmlich" content='Die klassische Schulform. Der Frontalunterricht ermöglicht SchülerInnen vom Wissen unserer Fachkräfte zu profitieren.')
