selection-card
    overview-container
        overview-box
            overview-heading Voraussetzung
            overview-content Facheinschlägiger Lehrabschluss und positive Testung in D, E, AM oder erfolgreicher Besuch des <b>Vorbereitungslehrgangs</b>. Dabei sind individuelle Anrechnungen möglich.

            overview-content-box
                overview-img-box
                    c-zertificate-man(theme='blue')
                overview-text-box
                    overview-title Dauer
                    overview-content Nach 7 Monaten Beginnend mit dem 1.Monat im September.
    content-box
        note-box
            note-text sample note
        c-textblob(heading="Heading", hsize='{"max":40, "min": 30}', hmobile='{"max": 40, "min":25}')
        selection-container
            //-
                selection-box
                    selection-background
                    selection-content
                        icon-container
                            c-windmill-icon
                        info-container
                            link-container
                                c-link(link="georgsSandbox", content="Mehr")
                            text-container
                                heading-text Erneuerbare Energien
                                content-text Bausteine der Zukunft mit unglaublichen Potenzial
                    c-button(link="georgsSandbox")
                selection-box
                    selection-background
                    selection-content
                        icon-container
                            c-cpu-icon
                        info-container
                            link-container
                                c-link(link="georgsSandbox", content="Mehr")
                            text-container
                                heading-text Erneuerbare Energien
                                content-text Bausteine der Zukunft mit unglaublichen Potenzial
                    c-button(link="georgsSandbox")
                selection-box
                    selection-background
                    selection-content
                        icon-container
                            c-tie-icon
                        info-container
                            link-container
                                c-link(link="georgsSandbox", content="Mehr")
                            text-container
                                heading-text Erneuerbare Energien
                                content-text Bausteine der Zukunft mit unglaublichen Potenzial
                    c-button(link="georgsSandbox")
                selection-box
                    selection-background
                    selection-content
                        icon-container
                            c-tools-icon
                        info-container
                            link-container
                                c-link(link="georgsSandbox", content="Mehr")
                            text-container
                                heading-text Erneuerbare Energien
                                content-text Bausteine der Zukunft mit unglaublichen Potenzial
                    c-button(link="georgsSandbox")

