
<svg width="368" height="368" viewBox="0 0 368 368" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M240.004 64.808V24C240.004 10.768 229.236 0 215.964 0C214.876 0 152.004 0 152.004 0C152.004 0 152.004 0 151.996 0C138.772 0 128.004 10.76 127.996 23.992V64.808C109.764 68.528 95.9961 84.688 95.9961 104V328C96.0041 350.056 113.948 368 136.004 368H232.004C254.06 368 272.004 350.056 272.004 328V104C272.004 84.688 258.236 68.528 240.004 64.808ZM144.004 24C144.004 19.592 147.588 16 152.004 16H184.004C200.612 16 210.324 16 216.004 15.424V16C220.42 16 224.004 19.592 224.004 24V64H144.004V24ZM256.004 328C256.004 341.232 245.236 352 232.004 352H136.004C122.772 352 112.004 341.232 112.004 328V192H256.004V328ZM256.004 176H112.004V144H256.004V176ZM256.004 128H112.004V104C112.004 90.768 122.772 80 136.004 80H232.004C245.236 80 256.004 90.768 256.004 104V128Z" fill="black"/>
</svg>
