wid-wid
  <svg width="978" height="1047" viewBox="0 0 978 1047" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M849.999 704.332L847.499 718.5L844 741C844 741 806.5 701.5 748 653C702 620 651.5 562.5 631.5 544.5C611.5 526.5 555.001 475 528.802 379C502.603 283 485 9 485 9L511.499 9.00013L526.999 9.00013L534.999 9.00007L543.999 9.00007L560.499 9.00002L580.499 9.00002L620 8.99998L667.499 8.99998L768.999 8.99998L964.999 8.99998L928.999 225L904.999 370.5L899.999 403.5L893.5 443L890 464L888.499 472L886.499 483L879.999 524.5L863.999 620L861.999 633L858.999 650.5L855.499 671L852.999 686L849.999 704.332Z" fill="#005264" fill-opacity="0.45"/>
    <path d="M1.0001 108.5L0.999625 8.99973L139.999 8.99971H234.499L261.499 8.99976L291.499 8.99979L320.499 8.99973L335.999 8.9997L352.499 8.99974L359.999 8.9998L372.999 8.99982L391.499 8.99979L407.999 8.99983L427.499 8.99986L445.499 8.99969L456.999 8.99991L469.999 8.99993L486 8.99969C486 8.99969 504.5 283 529 375.5C553.5 468 606.5 521 631 542C655.5 563 679.5 596 743 647.5C806.5 699 844 740 844 740L823.5 862L793.5 1046.5H545.996H472.996H419.996H370.996H297.677H87.4971H0.996094L0.996525 726.5L0.997749 645L0.998444 593L0.996658 517.5L0.996525 328.5L1.0001 108.5Z" fill="#005264" fill-opacity="0.45"/>
  </svg>













scroll-ly
