scroll-ly {
  display: block;
  position: relative;
  height: 5000px;
  width: 0px;
}



wid-wid {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
}