wid-wid
  <svg width="977" height="1045" viewBox="0 0 977 1045" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M849 701.332L846.5 715.5L843.5 737C843.5 737 803.608 699.492 745.681 650.281C704.657 618.673 681.22 575.269 659.854 560.801C586.101 498.798 530.865 375.633 530.865 375.633C527.043 369.242 529.139 367.393 532.723 369.193C539.102 372.406 542.298 383.54 548.162 383.437C553.476 383.345 543.862 368.999 556.339 368.781C566.427 368.605 564.848 363.53 564.71 355.649C564.551 346.512 572.793 337.12 572.015 330.381C569.601 320.362 561.43 313.671 564.71 308.301C583.868 276.904 589.338 313.215 602.313 300.997C603.968 299.422 619 6.50009 619 6.50009L667.5 6.50003L768.501 6.50009L964 6.50007L927.501 222L905.001 367.704L898.001 400.234L892.501 440L889.001 461L887.5 469L885.5 480L879 521.5L863 617L861 630L858 647.5L854.5 668L852 683L849 701.332Z" fill="#005264" fill-opacity="0.45"/>
  <path d="M296.68 445.146C298.708 433.596 301.382 427.014 311.739 436.366C316.873 440.999 322.552 444.883 329.454 449.588C334.155 453.037 336.042 464.691 344.368 463.437C346.953 463.527 352.738 463.322 351.898 469.03C351.431 472.204 351.216 471.37 349.013 475.684C346.355 480.887 351.966 483.73 358.24 484.357C369.534 484.984 370.703 484.93 379.193 480.575C381.06 479.273 377.977 474.029 379.193 470.54C380.528 466.714 386.15 467.59 389.786 463.014C391.426 460.951 390.784 453.719 392.683 451.095C397.449 444.52 408.214 451.653 414.017 445.135C421.256 437.009 420.506 427.246 420.606 419.108C420.739 412.311 424.684 404.998 436.92 404.684C443.43 404.22 447.273 405.311 455.745 404.684C463.902 404.37 471.605 396.677 477.706 394.649C483.11 392.852 492.791 394.298 495.903 391.826C499.051 389.328 495.347 382.919 499.355 381.087C506.644 377.756 518.452 377.616 521.27 381.087C529.034 390.65 561.696 479.441 628.798 544.089C711.34 623.613 780.231 676.5 780.231 676.5L844.5 731.489L823.5 858.5L792.5 1044.5H545H472H419H370H296.68H86.501H0L0.00042963 724.5C0.00042963 724.5 287.693 644.682 292.916 599.426C293.934 590.601 297.125 575.323 294.485 563.364C291.763 551.038 276.85 541.374 272.529 529.185C268.389 517.524 274.848 503.346 275.569 492.495C277.532 462.864 295.739 460.197 296.68 445.146Z" fill="#005264" fill-opacity="0.45"/>
  </svg>








scroll-ly
