
:host {
    display: block;
    width: 100%;
    height: fit-content;
}

component-body {
    height: auto;
}
outer-wrapper {
    padding-bottom: 60px;
    padding-top: 40px;
    display: block;
    width: 100%;
}

inner-wrapper {
    width: 80%;
    max-width: 1100px;
    min-width: 700px;
    height: 60px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 60px 1fr;
    grid-column-gap: 40px;
}

my-logo {
    margin-top: 13px;
}

c-tgm-logo{
    width: 100%;
    height: auto;
}

my-items {
    font-size: 13.5px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

my-hbar {
    display: block;
    background:#C2BFBC;
    height: .5px;
    width: 100%;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}

my-items > c-link {
    margin-top: 5px;
    color: #585e66;
    grid-row-start: 3;
    transition-duration: 0.3s;
}

my-items > c-link {
    display: none;
}

my-qfix > c-link {
    margin-top: 5px;
    color: #585e66;
}

my-qfix {
    width: 100%;
    justify-content: space-around;
    display: flex;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 6;
}

  


mobile-logo {
    display: none;
}

@media only screen and (max-width: 1300px) {  

    inner-wrapper {
        width: 90%;
        transition: 0.3s;
    }

}

@media only screen and (max-width: 1000px) {  

    my-qfix {
        display: none;
    }

    my-items > c-link {
        display: block;
    }
    my-wrapper {
      padding: 0px;
      margin: 0px;
      width: 100%;
    }

    inner-wrapper {
        width: 100%;
        margin: 0 10vw;
        max-width: -webkit-fill-available;
        min-width: 0px;
        height: fit-content;
        margin-bottom: 45px;
        display: grid;
        grid-template-rows: 2fr;
        grid-template-columns: 1fr;
    }

    my-items {
        font-size: 13.5px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: start;
    }

    .itemslow {
        grid-template-rows: 1fr 1fr 1fr 1fr; 
    }

    my-items > c-link {
        margin-top: 5px;
        margin-bottom: 5px;
        color: #585e66;
        grid-row-start: auto;
        grid-column-start: 1;
        grid-column-end:4;
    }

    my-hbar {
        grid-row-start: 2;
        grid-column-start:2;
        grid-column-end:4;
        display: block;
        background: #b3bece;
        height: .5px;
        width: 100%;
    }

    .hbarlow {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
    }

    mobile-logo {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 57px auto;
        grid-gap: 20px;
        grid-row-start: 1;
        grid-row-end: 4;
        width: 100%;
        height: 100%;
        align-items: center;
    }

    mobile-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        height: 100%;
        width: 100%;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    my-logo {
        display: none;
    }

}