outer-wrapper
    inner-wrapper
        my-items
            mobile-logo
                mobile-container
                    c-tgm-logo
                hbar(class="hbarup")
            my-hbar

            my-qfix
                c-link(link="impressum").my-something Impressum
                c-link(link="datenschutz").my-something Datenschutz
                c-link(link="https://intern.tgmrebrand.xyz/").my-something Intern
                //- c-link(link="todo").my-something Todo

            c-link(link="impressum").my-item Impressum
            c-link(link="datenschutz").my-item Datenschutz
            c-link(link="https://intern.tgmrebrand.xyz/").my-item Intern
            //- c-link(link="todo").my-item Todo
        my-logo
            c-tgm-logo
        my-items(class="itemslow")
            my-hbar(class="hbarlow")

            my-qfix 
                c-link(link="you-at-tgm").my-something You@TGM 
                c-link(link="partner").my-something Partner
                c-link(link="gremien").my-something Gremien
                //- c-link(link="todo").my-something About

            c-link(link="you-at-tgm").my-item You@TGM 
            c-link(link="partner").my-item Partner
            c-link(link="gremien").my-item Gremien
            //- c-link(link="todo").my-item About