outer-wrapper
    inner-wrapper
        my-items.left
            mobile-logo
                mobile-container
                    c-tgm-logo
                hbar.hbarup
            my-hbar

            my-qfix
                //- c-link
                //- c-link
                //- c-link

            //- c-link
            //- c-link
            //- c-link
        my-logo
            c-tgm-logo
        my-items.right.itemslow
            my-hbar.hbarlow

            my-qfix 
                //- c-link
                //- c-link
                //- c-link
                //- c-link

            //- c-link
            //- c-link
            //- c-link
            //- c-link
            