wrapper
    inner-wrapper
        items
            mobile-logo
                mobile-container
                hbar(class="hbarup")
            hbar

            max-du-tard 
                something Impressum
                something Datenschutz
                something Sprechstunden
                something Extern

            item Impressum
            item Datenschutz
            item Sprechstunden
            item Extern
        logo
        items(class="itemslow")
            hbar(class="hbarlow")

            max-du-tard 
                something Partner 
                something Kinder HTL
                something Kontakt
                something About

            item Partner
            item Kinder HTL
            item Kontakt
            item About