wrapper
    inner-wrapper
        my-items
            mobile-logo
                mobile-container
                hbar(class="hbarup")
            my-hbar

            my-qfix
                my-something Impressum
                my-something Datenschutz
                my-something Sprechstunden
                my-something Extern

            my-item Impressum
            my-item Datenschutz
            my-item Sprechstunden
            my-item Extern
        my-logo
        my-items(class="itemslow")
            my-hbar(class="hbarlow")

            my-qfix 
                my-something Partner 
                my-something Kinder HTL
                my-something Kontakt
                my-something About

            my-item Partner
            my-item Kinder HTL
            my-item Kontakt
            my-item About