
<svg xmlns="http://www.w3.org/2000/svg" width="22.932" height="29.5" viewBox="0 0 22.932 29.5">
  <g id="clipboard" transform="translate(-57)" class="highlight">
    <path id="Path_229" data-name="Path 229" d="M278.935,350.161h-5.07a.864.864,0,1,0,0,1.729h5.07a.864.864,0,1,0,0-1.729Z" transform="translate(-203.555 -329.986)"/>
    <path id="Path_230" data-name="Path 230" d="M278.935,232.95h-5.07a.864.864,0,0,0,0,1.729h5.07a.864.864,0,0,0,0-1.729Z" transform="translate(-203.555 -219.528)"/>
    <path id="Path_231" data-name="Path 231" d="M125.642,209.2a.864.864,0,0,0-1.217.109l-1.459,1.748-.331-.661a.864.864,0,0,0-1.545.774l.922,1.84a.864.864,0,0,0,1.436.167l2.3-2.76A.864.864,0,0,0,125.642,209.2Z" transform="translate(-60.31 -196.957)"/>
    <path id="Path_232" data-name="Path 232" d="M124.67,321.06a.864.864,0,0,0-1.206.2l-.449.629-.449-.629a.864.864,0,1,0-1.407,1l.794,1.111-.794,1.111a.864.864,0,1,0,1.407,1l.449-.629.449.629a.864.864,0,0,0,1.407-1l-.793-1.111.793-1.111A.864.864,0,0,0,124.67,321.06Z" transform="translate(-60.311 -302.409)"/>
    <path id="Path_233" data-name="Path 233" d="M76.705,2.964V2.593A2.6,2.6,0,0,0,74.112,0H62.819a2.6,2.6,0,0,0-2.593,2.593v.372A4.333,4.333,0,0,0,57,7.145V25.179A4.326,4.326,0,0,0,61.321,29.5H75.61a4.326,4.326,0,0,0,4.321-4.321V7.145a4.333,4.333,0,0,0-3.227-4.18Zm-14.75-.372a.865.865,0,0,1,.864-.864H74.112a.865.865,0,0,1,.864.864V4.725a.865.865,0,0,1-.864.864H62.819a.865.865,0,0,1-.864-.864ZM78.2,25.179a2.6,2.6,0,0,1-2.593,2.593H61.321a2.6,2.6,0,0,1-2.593-2.593V7.145a2.6,2.6,0,0,1,1.5-2.35,2.6,2.6,0,0,0,2.591,2.523H74.112A2.6,2.6,0,0,0,76.7,4.794a2.6,2.6,0,0,1,1.5,2.35Z" transform="translate(0)"/>
  </g>
</svg>