:host{
    display: block;
}

abendschule-section{
    display: block;
    height: 100%;
    padding-top: 75px;
    padding-bottom: 25px;
    background: #0090cc;
    position: relative;
}

section-header{
    display: block;
    max-width: 100%;
    margin: calc(220px - 12vw + 0.1em) 180px 50px 180px;
    background: url("../../../../../res/img/abendschule_header_background.svg") 50px 0 no-repeat;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: max(27px, calc(75px + (115 - 75)*((100vw - 1250px)/(1600 - 1250))));
    font-weight: bold;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: .06em;
}

card-box{
    display: flex;
    margin: 0 205px 25px 205px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
}

c-anmelden-card{
    width: 25%;
}


image-container {
    position: absolute;
    left: 200px;
    top: -14px;
    height: 250px;
    width: 300px;
}

image-box {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("./../../../../../res/img/L_two.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left bottom;
}

card-item{
    position: relative;
    display: flex;
    justify-content: space-between;
    --spacing: 7%;
    margin-bottom: 75px;
}

card-box card-item:nth-child(2n - 1){
    flex-direction: row-reverse;
}

card-box card-item:nth-child(2n){
    flex-direction: row;
}

c-erwachsenen-card{
    z-index: 1;
}

extra-circle{
    position: relative;
    display: block;
    height: 37px;
    min-height: 37px;
    width: 37px;
    min-width: 37px;
    border-radius: 100%;
    box-shadow: var(--medium-shadow);
    align-self: center;
    background: var(--secondary-background-color);
}


card-box card-item:nth-child(2n - 1) extra-circle{
    margin-right: var(--spacing);
    margin-left: auto;
}

card-box card-item:nth-child(2n) extra-circle{
    margin-left: var(--spacing);
    margin-right: auto;
}

extra-line-1{
    position: absolute;
    height: 7px;
    top: calc(50% - 7px / 2);
    box-shadow: var(--medium-shadow);
}

card-box card-item:nth-child(2n - 1) extra-line-1{
    right: calc(var(--spacing) + 37px / 2);
    left: var(--spacing);
}

card-box card-item:nth-child(2n) extra-line-1{
    left: calc(var(--spacing) + 37px / 2);
    right: var(--spacing);
}

extra-line-2{
    position: absolute;
    width: 7px;
    height: 100%;
    box-shadow: var(--medium-shadow);
}

card-box card-item:nth-child(2n - 1) extra-line-2{
    right: calc(var(--spacing) + 30px / 2);
}

card-box card-item:nth-child(2n - 1):last-child extra-line-2{
    bottom: calc(50% - 7px / 2);
}

card-box card-item:nth-child(2n - 1):not(:last-child) extra-line-2{
    top: 50%;
    height: 100%;
}

card-box card-item:nth-child(2n)  extra-line-2{
    left: calc(var(--spacing) + 30px / 2);
}

card-box card-item:nth-child(2n):first-child  extra-line-2{
    top: calc(50% - 7px / 2);
}

card-box card-item:nth-child(2n):not(:first-child)  extra-line-2{
    bottom: 50%;
}

card-box card-item:nth-child(2n):first-child:last-child extra-line-2{
    display: none;
}

@media only screen and (max-width: 1450px) {
    card-box{
        margin: 0 50px 25px 50px;
    }
}

@media only screen and (max-width: 950px) {
    abendschule-section{
        padding-top: 225px;
    }

    section-header{
        margin: 50px 100px 25px 100px;
        text-align: center;
        font-size: max(27px, calc(80px + (125 - 80)*((100vw - 769px)/(1259 - 768))));
    }

    card-box{
        margin: 0 100px 100px 100px;
        flex-direction: column;
        align-items: center;
    }

    card-box *{
        margin: 50px 0 0 0;
        align-self: unset!important;
    }

    c-erwachsenen-card{
        width: auto;
    }

    c-anmelden-card{
        width: auto;
    }

    extra-circle{
        display: none;
    }

    extra-line-1{
        display: none;
    }

    card-box card-item:nth-child(2n - 1):not(:last-child) extra-line-2{
        height: 100%;
        top: 50%;
    }

    card-box card-item:nth-child(2n - 1):last-child extra-line-2{
        display: none;
    }

    card-box card-item:nth-child(2n):not(:first-child)  extra-line-2{
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    card-box{
        margin-right: 10vw;
        margin-left: 10vw;
    }

    c-erwachsenen-card{
        max-width: 100%;
        min-width: unset;
        margin-right: 0;
    }

    c-anmelden-card{
        width: unset;
    }

    section-header{
        font-size: max(27px, calc(35px + (80 - 35)*((100vw - 300px)/(768 - 300))));
        margin: 0 10vw;
        color: #425870;
    }

    image-container {
        position: absolute;
        left: 10vw;
        top: -10px;
        height: 175px;
        width: 200px;
    }

}

