abendschule-section
    section-header Erwachsene
    card-box
        c-erwachsenen-card( note='Ausbildung f체r Erwachsene' heading='Tagesformen'
            selection='[' +
            '{"icon":"satellite", "title":"Satellitentechnik", "content":"Satellitendesign und Konstruktion"},' +
            '{"icon":"rocket", "title":"Raketentechnik", "content":"Raketenentwicklung, Abschussvorbereitung"},' +
            '{"icon":"rover", "title":"Raumfahrtrobotik", "content":"Weltraumf채hige Roboter mit autonomen Anwendungen"},' +
            '{"icon":"space-aids", "title":"Space AIDS", "content":"Biologische Untersuchungen in der Schwerelosigkeit"}' +
            ']')

        c-erwachsenen-card( note='Ausbildung f체r Erwachsene' heading='Abendformen'
            selection='[' +
            '{"icon":"satellite", "title":"Satellitentechnik", "content":"Satellitendesign und Konstruktion"},' +
            '{"icon":"rocket", "title":"Raketentechnik", "content":"Raketenentwicklung, Abschussvorbereitung"},' +
            '{"icon":"rover", "title":"Raumfahrtrobotik", "content":"Weltraumf채hige Roboter mit autonomen Anwendungen"}' +
            ']')

    //-
            c-anmelden-card
image-container
        image-box