abendschule-section
    section-header Erwachsene
    card-box
        card-item
            extra-line-1
            extra-line-2
            extra-circle
            c-erwachsenen-card( note='Ausbildung für Erwachsene' heading='Tagesformen'
                selection='[' +
                '{"icon":"smallStonks", "title":"Vorbereitungslehrgang", "content":"Vorbereitung auf den Aufbaulehrgang", "heading":"Voraussetzungen","info":"Positiver Abschluss der 8. Schulstufe und die vollendung des 17. Lebensjahres.",' +
                '"extraIcon":"c-pruefung-icon", "extraTitle":"Dauer", "extraContent":"1-2 Semester \\n Beginnend mit dem 1. Montag im September"},' +

                '{"icon":"bigStonks", "title":"Aufbaulehrgang", "content":"Der Weg zur BHS-Matura", "heading":"Voraussetzungen","info":"Facheinschlägiger Lehrabschluss und positive Testung in D, E, AM oder erfolgreicher Besuch des Vorbereitungslehrgangs. Wobei individuelle Anrechnungen möglich sind.",' +
                '"extraIcon":"c-zertificate-man", "extraTitle":"Dauer", "extraContent":"7 Monate \\n Beginnend mit dem 1. Montag im September"},' +

                '{"icon":"kolleg", "title":"Kolleg", "content":"In 4 Semestern zum Ingenieur", "heading":"Voraussetzungen","info":"Reifeprüfung oder Zulassung zu einem technischen Studium. Wobei individuelle Anrechnungen möglich sind.",' +
                '"extraIcon":"c-zertificate-man", "extraTitle":"Dauer", "extraContent":"6 Monate \\n Beginnend mit dem 2. Montag im Februar"},' +

                '{"icon":"tools", "title":"Werkmeisterlehrgang", "content":"Berechtigt u.A zur Ausbildung von Lehrlingen", "heading":"Voraussetzungen","info":"Eine Facheinschlägige Berufsausbildung",' +
                '"extraIcon":"c-zertificate-man", "extraTitle":"Dauer", "extraContent":"4 Semester \\n Beginnend mit dem 1. Montag im September"}' +
                ']')

        card-item
            extra-line-1
            extra-line-2
            extra-circle
            c-erwachsenen-card( note='Ausbildung für Erwachsene' heading='Abendformen'
                selection='[' +
                '{"icon":"smallStonks", "title":"Vorbereitungslehrgang", "content":"Vorbereitung auf den Aufbaulehrgang", "heading":"Voraussetzungen","info":"Positiver Abschluss der 8. Schulstufe und die vollendung des 17. Lebensjahres.",' +
                '"extraIcon":"c-pruefung-icon", "extraTitle":"Dauer", "extraContent":"1-2 Semester \\n Beginnend mit dem 1. Montag im September"},' +

                '{"icon":"bigStonks", "title":"Aufbaulehrgang", "content":"Der Weg zur BHS-Matura", "heading":"Voraussetzungen","info":"Facheinschlägiger Lehrabschluss und positive Testung in D, E, AM oder erfolgreicher Besuch des Vorbereitungslehrgangs. Wobei individuelle Anrechnungen möglich sind.",' +
                '"extraIcon":"c-zertificate-man", "extraTitle":"Dauer", "extraContent":"7 Monate \\n Beginnend mit dem 1. Montag im September"},' +

                '{"icon":"kolleg", "title":"Kolleg", "content":"In 4 Semestern zum Ingenieur", "heading":"Voraussetzungen","info":"Reifeprüfung oder Zulassung zu einem technischen Studium. Wobei individuelle Anrechnungen möglich sind.",' +
                '"extraIcon":"c-zertificate-man", "extraTitle":"Dauer", "extraContent":"6 Monate \\n Beginnend mit dem 2. Montag im Februar"}' +
                ']')

    //-
        c-anmelden-card
    image-container
        image-box