abendschule-section
    section-header Erwachsene
    card-box
        c-erwachsenen-card( heading='Neues Lernen' note='unser Versprechen'
            selection='[' +
        '{"icon":"energysysteme", "title":"Erneurbare Energie", "content":"Bausteine der Zukunft, mit unglaublichen Portenzial", "link":"tagesschule/raumfahrt"},' +
        '{"icon":"automatisierungstechnik", "title":"Elektronik", "content":"Die Grundlagen der Digitalisierung", "link":"tagesschule/raumfahrt"},' +
        '{"icon":"antriebstechnik", "title":"Wirtschaft", "content":"Prozessoptimierung und Managment gelernt", "link":"tagesschule/raumfahrt"},' +
        '{"icon":"industrieelektronik", "title":"Werkmeister", "content":"Öffnet Möglichkeiten zur Selbstständigkeit", "link":"tagesschule/raumfahrt"}' +
        ']')
        //-
            c-anmelden-card
    image-container
        image-box