abendschule-section
    section-header Erwachsene
    card-box
        card-item
            extra-line-1
            extra-line-2
            extra-circle
            c-erwachsenen-card( note='Ausbildung für Erwachsene' heading='Tagesformen'
                selection='[' +
                '{"icon":"smallStonks", "title":"smallStonks", "content":"Satellitendesign und Konstruktion", "heading":"Voraussetzungen","info":"Facheinschlägiger Lehrabschluss und positive Testung in D, E, AM oder erfolgreicher Besuch des Vorbereitungslehrgangs. Dabei sind individuelle Anrechnungen möglich.",' +
                '"extraIcon":"c-pruefung-icon", "extraTitle":"Dauer", "extraContent":"Nach 7 Monaten Beginnend mit dem 1.Monat im September"},' +
                '{"icon":"bigStonks", "title":"bigStonks", "content":"Raketenentwicklung, Abschussvorbereitung", "heading":"Aussetzungen","info":"Facheinschlägiger Lehrabschluss und positive Testung in D, E, AM oder erfolgreicher Besuch des Vorbereitungslehrgangs. Dabei sind individuelle Anrechnungen möglich.",' +
                '"extraIcon":"c-zertificate-man", "extraTitle":"Dauer", "extraContent":"Nach 7 Monaten Beginnend mit dem 1.Monat im September"},' +
                '{"icon":"kolleg", "title":"kolleg", "content":"Weltraumfähige Roboter mit autonomen Anwendungen", "heading":"Schülerqual","info":"Facheinschlägiger Lehrabschluss und positive Testung in D, E, AM oder erfolgreicher Besuch des Vorbereitungslehrgangs. Dabei sind individuelle Anrechnungen möglich.",' +
                '"extraIcon":"c-zertificate-man", "extraTitle":"Dauer", "extraContent":"Nach 7 Monaten Beginnend mit dem 1.Monat im September"},' +
                '{"icon":"tools", "title":"Space AIDS", "content":"Biologische Untersuchungen in der Schwerelosigkeit", "heading":"Prokrasitinieren","info":"Facheinschlägiger Lehrabschluss und positive Testung in D, E, AM oder erfolgreicher Besuch des Vorbereitungslehrgangs. Dabei sind individuelle Anrechnungen möglich.",' +
                '"extraIcon":"c-zertificate-man", "extraTitle":"Dauer", "extraContent":"Nach 7 Monaten Beginnend mit dem 1.Monat im September"}' +
                ']')

        card-item
            extra-line-1
            extra-line-2
            extra-circle
            c-erwachsenen-card( note='Ausbildung für Erwachsene' heading='Abendformen'
                selection='[' +
                '{"icon":"smallStonks", "title":"Rick Astley", "content":"Never gonna give you up", "link":"https://www.youtube.com/watch?v=dQw4w9WgXcQ", "heading":"RickRoll","info":"We\'re no strangers to love You know the rules and so do I A full commitment\'s what I\'m thinking of You wouldn\'t get this from any other guy",' +
                '"extraIcon":"c-cpu-icon", "extraTitle":"Never", "extraContent":"Never gonna give you up Never gonna let you down Never gonna run around and desert you"},' +
                '{"icon":"bigStonks", "title":"Raketentechnik", "content":"Raketenentwicklung, Abschussvorbereitung", "heading":"Mr. CAT","info":"Facheinschlägiger Lehrabschluss und positive Testung in D, E, AM oder erfolgreicher Besuch des Vorbereitungslehrgangs. Dabei sind individuelle Anrechnungen möglich.",' +
                '"extraIcon":"c-zertificate-man", "extraTitle":"Dauer", "extraContent":"Nach 7 Monaten Beginnend mit dem 1.Monat im September"},' +
                '{"icon":"kolleg", "title":"Space AIDS", "content":"Biologische Untersuchungen in der Schwerelosigkeit", "heading":"Lorem Ipsum","info":"Facheinschlägiger Lehrabschluss und positive Testung in D, E, AM oder erfolgreicher Besuch des Vorbereitungslehrgangs. Dabei sind individuelle Anrechnungen möglich.",' +
                '"extraIcon":"c-zertificate-man", "extraTitle":"Dauer", "extraContent":"Nach 7 Monaten Beginnend mit dem 1.Monat im September"}' +
                ']')

    //-
        c-anmelden-card
    image-container
        image-box