:host {
  position: relative;
  display: block;
  border-radius: 15px;

  /* min-width: 200px;
  min-height: 310px;
  max-width: 400px;
  max-height: 350px; */
  /* width:  20%; */
  /* height: 310px; */
}


component-body, :host(.no-body) {
  border-radius: 15px;


  transition: .5s;

  box-shadow: 7px 7px 15px 0px rgba(0,0,0,.07);
  background-color: var(--secondary-background-color);
  transform: scale(1);
  user-select: none;
}

:host(.card-hover-effect-enabled) > component-body:hover, :host(.no-body.card-hover-effect-enabled:hover) {
  transform: scale(1.05);
  background-color: var(--strong-background-color);
  box-shadow: 8px 8px 20px 0px rgba(0,0,0,.07);
}