:host {
  color: var(--strong-text-color);
  text-align: left;
  user-select: none;
  cursor: pointer;
}

a {
  text-align: inherit;
  color: inherit;
  display: block;
  font-family: inherit;
  transition: .3s color;
}