canvas#confetti
april-fools
    c-textblob(heading="Sie sind Gewinner" subheading="tausendster Besucher" note="April" content="Herliche Glückwunsch Sie sind der tausendste Besucher am ersten April. Bitte drücken Sie den link für Ihren Gewinn" linktext="link" linkhref="https://www.youtube.com/watch?v=dQw4w9WgXcQ")
    c-button.close