:host{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 420;
}

april-fools{
    background: var(--primary-background-color);
    padding: 2em;
    border-radius: 8px;
    position: absolute;
}

canvas {
    height: 100vw;
    width: 100vw;
    z-index: 421;
}
