
c-schulerprojekte-section{
    opacity: 1;
}


section-header{
    display: block;
    max-width: 100%;
    margin: 0 180px 100px 180px;
    background: url("../../../../res/img/abendschule_background.svg") 80% 35% no-repeat;
    background-size: 2300px 1275px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: max(27px, calc(75px + (105 - 75)*((100vw - 768px)/(1600 - 768))));
    font-weight: bold;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
}

test-container{
    display: flex;
    margin: 0 205px 100px 205px;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

test-container * {
    margin: 0 25px 50px 25px;
}

c-anmelden-card{
    width: 25%;
}


c-selection-card{
    width: 50%;
    flex-grow: 1;
}

@media only screen and (max-width: 1250px) {
    section-header{
        margin: 50px 100px 100px 100px;
        text-align: center;
    }

    test-container{
        margin: 0 100px 100px 100px;
        flex-direction: column;
        align-items: center;
    }

    c-selection-card{
        width: auto;
    }

    c-anmelden-card{
        width: auto;
    }
}

@media only screen and (max-width: 768px) {
    test-container{
        margin-right: 10vw;
        margin-left: 10vw;
    }

    test-container *{
        margin: 50px 0 0 0;
    }

    c-selection-card{
        max-width: 100%;
        min-width: unset;
        margin-right: 0;
    }

    c-anmelden-card{
        width: unset;
    }

    section-header{
        font-size: max(27px, calc(35px + (80 - 35)*((100vw - 300px)/(768 - 300))));
        margin: 0 10vw;
        color: #425870;
    }

}

/* CSS for textblob */

container {
    display: block;
    margin: 200px 100px 0 100px;
}

flex-container {
    margin-top: 30%;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 90%;
    justify-content: space-between;
    flex-wrap: wrap;
}

c-textblob {
    position: relative;
    display: block;
    width: 45%;
    min-width: 500px;
    height: auto;
    margin-bottom: 2em;
}

c-textblob.first{
    position: relative;
    display: block;
    width: 80%;
}

@media only screen and (max-width: 768px) {
    container {
        display: flex;
        flex-direction: column;
        margin: 50px 10%;
    }

    c-textblob {
        width: 80%;
        min-width: 0;
    }
}