//-
    c-team-leitung-thumbnail
    c-abteilungs-thumbnail
c-schuelerprojekte-thumbnail
//-
    c-ausbildung-section
//-
    c-informationen-section
c-team-jobs-section
//-
    c-versuchsanstalt-section
test-container
    c-selection-card
    test-card
c-image-textblob(aligntype="right", note="Abteilungsvorstand", heading="Koppensteiner", subheading="Gottfried", hsize='{"max": 60, "min": 40}', hmobile='{"max": 55, "min": 30}', image="url('/res/img/student_1.jpg') 90% 40%", addresse="Wexstraße 123 / 9. Stock / H926", email="abt-adminhit@tgm.ac.at", tel="+43 1 33126 291", stellvertreter='[{"name": "Christian Kruisz", "email": "ckruiz@tgm.ac.at"}, {"name": "Christoph Brein", "email": "cbrein@tgm.ac.at"}]', content="Erreichbar von Montag bis Freitag zwischen 8:00 und 11:00 Uhr.")
//-
    c-image-textblob(aligntype="left", note="Schülervertretung", heading="Schlager", subheading="Raphael", hsize='{"max": 80, "min": 60}', hmobile='{"max": 70, "min": 50}', image="url('/res/img/student_2.jpg') 65%", addresse="Wexstraße 123 / 9. Stock", email="rschlager@student.tgm.ac.at", tel="+43 1 33126 291", stellvertreter='[{"name": "Tim Degold", "email": "tdegold@student.tgm.ac.at"}, {"name": "Jan Borenski", "email": "jborenski@student.tgm.ac.at"}]', content="Erreichbar von Montag bis Freitag zwischen 8:00 und 11:00 Uhr.")
    c-image-textblob(aligntype="right", heading="Ein Einblick", subheading="in die IT", hsize='{"max": 70, "min": 50}', hmobile='{"max": 62, "min": 42}', image="url('/res/img/student_1.jpg') 90% 40%", addresse="Wexstraße 123 / 9. Stock", email="avhit@tgm.ac.at", tel="0680 7318238", content="Demnächst in der Nähe? Komm uns besuchen, wir freuen uns auf dich. Wir ermöglichen dir als SchnupperschülerIn in die IT Welt einzutauchen.", linktext="Einene Besuch planen", linkhref="/georgsSandbox")
