//-
    c-team-leitung-thumbnail
    c-abteilungs-thumbnail
    c-schuelerprojekte-thumbnail
c-parameter-thumbnail(note="Georg's" heading="Georg's" subheading="Sandbox" background="url('https://i.kym-cdn.com/entries/icons/mobile/000/026/638/cat.jpg')" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit lorem id metus interdum, ac.\n" +
"\n")
c-overflow-x(gradient='fancy')
    c-news-card(heading="Samstag" note="18.04.20"     thumbnail='/res/img/dj.jpg' href="" contenttitle="Frauen im Weltraum" content='Am 28.9.2020 findet ein Vortrag des ersten komplett weiblichen Astronautenteams statt.')
    c-news-card(heading="Montag" note="20.04.20"      thumbnail='/res/img/rolli.jpg' href="" contenttitle="HRT Rover landet am Mars" content='Ein Rover des TGM Robotikteams ist am Mars gelandet und hilft bei der Suche nach Wasser!')
    c-news-card(heading="Donnerstag" note="16.04.20"  thumbnail='/res/img/ball.jpg' href="" contenttitle="TGM-Ball" content='Der 100. TGM-Ball findet kommenden Donnerstag statt, jetzt Tickets sichern!')
    c-news-card(heading="Mittwoch" note="18.04.20"     thumbnail='/res/img/dj.jpg' href="" contenttitle="Frauen im Weltraum" content='Am 28.9.2020 findet ein Vortrag des ersten komplett weiblichen Astronautenteams statt.')
    c-news-card(heading="Freitag" note="20.04.20"      thumbnail='/res/img/rolli.jpg' href="" contenttitle="HRT Rover landet am Mars" content='Ein Rover des TGM Robotikteams ist am Mars gelandet und hilft bei der Suche nach Wasser!')
    c-news-card(heading="Sonntag" note="16.04.20"  thumbnail='/res/img/ball.jpg' href="" contenttitle="TGM-Ball" content='Der 100. TGM-Ball findet kommenden Donnerstag statt, jetzt Tickets sichern!')
    c-news-card(heading="Samstag" note="18.04.20"     thumbnail='/res/img/dj.jpg' href="" contenttitle="Frauen im Weltraum" content='Am 28.9.2020 findet ein Vortrag des ersten komplett weiblichen Astronautenteams statt.')
    c-news-card(heading="Montag" note="20.04.20"      thumbnail='/res/img/rolli.jpg' href="" contenttitle="HRT Rover landet am Mars" content='Ein Rover des TGM Robotikteams ist am Mars gelandet und hilft bei der Suche nach Wasser!')
    c-news-card(heading="Donnerstag" note="16.04.20"  thumbnail='/res/img/ball.jpg' href="" contenttitle="TGM-Ball" content='Der 100. TGM-Ball findet kommenden Donnerstag statt, jetzt Tickets sichern!')
//-
    c-blog-card(heading="Samstag" note="18.04.20"     thumbnail='/res/img/dj.jpg' href="" content='Am 28.9.2020 findet ein Vortrag des ersten komplett weiblichen Astronautenteams statt.')
    c-blog-card(heading="Montag" note="20.04.20"      thumbnail='/res/img/rolli.jpg' href="" content='Ein Rover des TGM Robotikteams ist am Mars gelandet und hilft bei der Suche nach Wasser!')
    c-blog-card(heading="Donnerstag" note="16.04.20"  thumbnail='/res/img/ball.jpg' href="" content='Der 100. TGM-Ball findet kommenden Donnerstag statt, jetzt Tickets sichern!')
    c-blog-card(heading="Samstag" note="18.04.20"     thumbnail='/res/img/dj.jpg' href="" content='Am 28.9.2020 findet ein Vortrag des ersten komplett weiblichen Astronautenteams statt.')
    c-blog-card(heading="Montag" note="20.04.20"      thumbnail='/res/img/rolli.jpg' href="" content='Ein Rover des TGM Robotikteams ist am Mars gelandet und hilft bei der Suche nach Wasser!')
    c-blog-card(heading="Donnerstag" note="16.04.20"  thumbnail='/res/img/ball.jpg' href="" content='Der 100. TGM-Ball findet kommenden Donnerstag statt, jetzt Tickets sichern!')
    c-blog-card(heading="Samstag" note="18.04.20"     thumbnail='/res/img/dj.jpg' href="" content='Am 28.9.2020 findet ein Vortrag des ersten komplett weiblichen Astronautenteams statt.')
    c-blog-card(heading="Montag" note="20.04.20"      thumbnail='/res/img/rolli.jpg' href="" content='Ein Rover des TGM Robotikteams ist am Mars gelandet und hilft bei der Suche nach Wasser!')
//-
navigation-container
    c-button.previous
    c-button.next
c-overflow-x.custom
    c-news-card(heading="Samstag" note="18.04.20"     thumbnail='/res/img/dj.jpg' href="" contenttitle="Frauen im Weltraum" content='Am 28.9.2020 findet ein Vortrag des ersten komplett weiblichen Astronautenteams statt.')
    c-news-card(heading="Montag" note="20.04.20"      thumbnail='/res/img/rolli.jpg' href="" contenttitle="HRT Rover landet am Mars" content='Ein Rover des TGM Robotikteams ist am Mars gelandet und hilft bei der Suche nach Wasser!')
    c-news-card(heading="Donnerstag" note="16.04.20"  thumbnail='/res/img/ball.jpg' href="" contenttitle="TGM-Ball" content='Der 100. TGM-Ball findet kommenden Donnerstag statt, jetzt Tickets sichern!')
    c-news-card(heading="Mittwoch" note="18.04.20"     thumbnail='/res/img/dj.jpg' href="" contenttitle="Frauen im Weltraum" content='Am 28.9.2020 findet ein Vortrag des ersten komplett weiblichen Astronautenteams statt.')
    c-news-card(heading="Freitag" note="20.04.20"      thumbnail='/res/img/rolli.jpg' href="" contenttitle="HRT Rover landet am Mars" content='Ein Rover des TGM Robotikteams ist am Mars gelandet und hilft bei der Suche nach Wasser!')
    c-news-card(heading="Sonntag" note="16.04.20"  thumbnail='/res/img/ball.jpg' href="" contenttitle="TGM-Ball" content='Der 100. TGM-Ball findet kommenden Donnerstag statt, jetzt Tickets sichern!')
    c-news-card(heading="Samstag" note="18.04.20"     thumbnail='/res/img/dj.jpg' href="" contenttitle="Frauen im Weltraum" content='Am 28.9.2020 findet ein Vortrag des ersten komplett weiblichen Astronautenteams statt.')
    c-news-card(heading="Montag" note="20.04.20"      thumbnail='/res/img/rolli.jpg' href="" contenttitle="HRT Rover landet am Mars" content='Ein Rover des TGM Robotikteams ist am Mars gelandet und hilft bei der Suche nach Wasser!')
    c-news-card(heading="Donnerstag" note="16.04.20"  thumbnail='/res/img/ball.jpg' href="" contenttitle="TGM-Ball" content='Der 100. TGM-Ball findet kommenden Donnerstag statt, jetzt Tickets sichern!')
    c-news-card(heading="Mittwoch" note="18.04.20"     thumbnail='/res/img/dj.jpg' href="" contenttitle="Frauen im Weltraum" content='Am 28.9.2020 findet ein Vortrag des ersten komplett weiblichen Astronautenteams statt.')
    c-news-card(heading="Freitag" note="20.04.20"      thumbnail='/res/img/rolli.jpg' href="" contenttitle="HRT Rover landet am Mars" content='Ein Rover des TGM Robotikteams ist am Mars gelandet und hilft bei der Suche nach Wasser!')
    c-news-card(heading="Sonntag" note="16.04.20"  thumbnail='/res/img/ball.jpg' href="" contenttitle="TGM-Ball" content='Der 100. TGM-Ball findet kommenden Donnerstag statt, jetzt Tickets sichern!')
//-
    c-ausbildung-section
c-blog-post(blogtitle="67. TGM-Ball 2020 " date="2020-06-15T15:12:06.000+00:00" image="/res/img/blog-thumbnail.png"
    htmlcontent='<h2 id="einfuehrung">Einfuehrung</h2><p>Der 67. TGM-Ball 2020 war ein historischer: er fand erstmals im Wiener Rathaus statt und zum ersten Mal in der langen Geschichte des TGM-Balls waren alle Wiener Zentrallehranstalten (TGM, Spengergasse, Rosensteingasse und Leyserstraße) vertreten. Zusätzlich bereicherten die drei Modeschulen Wiens (Herbststraße, Hetzendorf und Michelbeuern) die Veranstaltung.</p><h2 id="weiteres">Weiteres</h2><p>Dies alles war nur möglich durch die monatelangen Vorbereitungen, die intensive Arbeit und die ausgezeichneten Kontakte des Ballorganisators, des Verbandes der Technologinnen und Technologen. Offensichtlich schätzen auch unsere Schülerinnen und Schüler dieses Engagement – der Ball war wie in den letzten Jahren bereits Wochen vorher ausverkauft!</p><p>Es gibt wahrscheinlich weltweit keinen Schulball, der vom Ambiente her mit diesem TGM-Ball mithalten konnte. Der Ball begann für viele bereits vor der Eröffnung, nämlich mit einem exquisiten Galadinner. Die Eröffnung selbst wurde in bewährter Manier durch Prof. Thomas Schäfer-Elmayer geleitet und durch das Eröffnungskomitee, bestehend aus Schülerinnen und Schülern aller beteiligten Schulen ausgeführt.</p>')
c-blog-suggestions(blogs='[' +
'{"heading":"DJ-Workshop", "date":"2020-04-18", "thumbnail":"/res/img/blog-thumbnail-2.jpg", "content":"Bald ist es so weit. Der große Radaz lüftet sein Geheimniss, mit welchem er an die Spitze gekommen ist.", "link":""},' +
'{"heading":"DJ-Workshop", "date":"2020-04-18", "thumbnail":"/res/img/blog-thumbnail-2.jpg", "content":"Bald ist es so weit. Der große Radaz lüftet sein Geheimniss, mit welchem er an die Spitze gekommen ist.", "link":""},' +
'{"heading":"DJ-Workshop", "date":"2020-04-18", "thumbnail":"/res/img/blog-thumbnail-2.jpg", "content":"Bald ist es so weit. Der große Radaz lüftet sein Geheimniss, mit welchem er an die Spitze gekommen ist.", "link":""},' +
'{"heading":"DJ-Workshop", "date":"2020-04-18", "thumbnail":"/res/img/blog-thumbnail-2.jpg", "content":"Bald ist es so weit. Der große Radaz lüftet sein Geheimniss, mit welchem er an die Spitze gekommen ist.", "link":""},' +
'{"heading":"DJ-Workshop", "date":"2020-04-18", "thumbnail":"/res/img/blog-thumbnail-2.jpg", "content":"Bald ist es so weit. Der große Radaz lüftet sein Geheimniss, mit welchem er an die Spitze gekommen ist.", "link":""}' +
']')
//-
    c-informationen-section
c-team-jobs-section
//-
    c-versuchsanstalt-section

c-schulerprojekte-section

//-
    section-header Abendschule

c-ausmacht-section

//-
    center
        c-textblob.heading(heading="Was uns Ausmacht" subheading="als Raumfahrtstechnik" hsize="{'max':60, 'min':40}")
    test-container
        c-selection-card( note='Fachspezifische' heading='Vertiefungen'
            selection='[' +
            '{"icon":"satellite", "title":"Satellitentechnik", "content":"Satellitendesign und Konstruktion", "link":"georgsSandbox"},' +
            '{"icon":"rocket", "title":"Raketentechnik", "content":"Raketenentwicklung, Abschussvorbereitung", "link":"georgsSandbox"},' +
            '{"icon":"rover", "title":"Raumfahrtrobotik", "content":"Weltraumfähige Roboter mit autonomen Anwendungen", "link":"georgsSandbox"},' +
            '{"icon":"space-aids", "title":"Space AIDS", "content":"Biologische Untersuchungen in der Schwerelosigkeit", "link":"georgsSandbox"}' +
            ']')
        c-unterricht-systeme-card(heading="Labor" headingBackground="#98AAB6" note="Unterrichtssystem"  thumbnail='/res/img/unterrichtSysteme_1.png' href="" contenttitle="Im Aufbruch" content='Das Labor ermöglicht den SchülerInnen, ihren Stundenplan selbst zu organisieren. Dabei lernen sie Eigenverantwortung und Teamarbeit.')
        c-unterricht-systeme-card(heading="Frontal" headingBackground="#C1DBCB" note="Unterrichtssystem"  thumbnail='/res/img/unterrichtSysteme_2.png' href="" contenttitle="Herkömmlich" content='Die klassische Schulform. Der Frontalunterricht ermöglicht SchülerInnen vom Wissen unserer Fachkräfte zu profitieren.')
c-image-textblob(aligntype="right", note="Abteilungsvorstand", heading="Koppensteiner", subheading="Gottfried", hsize='{"max": 60, "min": 40}', hmobile='{"max": 55, "min": 30}', image="url('/res/img/student_1.jpg')", addresse="Wexstraße 123 / 9. Stock / H926", email="abt-adminhit@tgm.ac.at", tel="+43 1 33126 291", stellvertreter='[{"name": "Christian Kruisz", "email": "ckruiz@tgm.ac.at"}, {"name": "Christoph Brein", "email": "cbrein@tgm.ac.at"}]' content="Erreichbar von Montag bis Freitag zwischen 8:00 und 11:00 Uhr.")

//-
    c-image-textblob(aligntype="left", note="Schülervertretung", heading="Schlager", subheading="Raphael", hsize='{"max": 80, "min": 60}', hmobile='{"max": 70, "min": 50}', image="url('/res/img/student_2.jpg') 65%", addresse="Wexstraße 123 / 9. Stock", email="rschlager@student.tgm.ac.at", tel="+43 1 33126 291", stellvertreter='[{"name": "Tim Degold", "email": "tdegold@student.tgm.ac.at"}, {"name": "Jan Borenski", "email": "jborenski@student.tgm.ac.at"}]', content="Erreichbar von Montag bis Freitag zwischen 8:00 und 11:00 Uhr.")
    c-image-textblob(aligntype="right", heading="Ein Einblick", subheading="in die IT", hsize='{"max": 70, "min": 50}', hmobile='{"max": 62, "min": 42}', image="url('/res/img/student_1.jpg') 90% 40%", addresse="Wexstraße 123 / 9. Stock", email="avhit@tgm.ac.at", tel="0680 7318238", content="Demnächst in der Nähe? Komm uns besuchen, wir freuen uns auf dich. Wir ermöglichen dir als SchnupperschülerIn in die IT Welt einzutauchen.", linktext="Einene Besuch planen", linkhref="/georgsSandbox")
