:host{
    position: relative;
    display: block;
    height: auto;
    overflow: hidden;
}

blog-suggestions-box{
    display: block;
    width: 650px;
    margin: 0 auto;
}

suggestions-note {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

suggestion-note-text{
    font-size: 12px;
    font-family: 'PT Mono', monospace;
    text-transform: uppercase;
}

suggestions-note hr{
    flex-grow: 1;
    align-self: stretch;
    height: 2px;
    margin-left: 10px;
    border: none;
    background: var(--strong-text-color);
}

c-overflow-x{
    width: 130%;
    display: block;
    margin-left: -15%;
    margin-right: -15%;
}

@media only screen and (max-width: 768px) {

    blog-suggestions-box{
        width: 100vw;
        max-width: 100vw;
        padding: 0 10vw;
        box-sizing: border-box;
    }

    c-overflow-x{
        margin-left: -10vw;
        margin-right: -10vw;
        padding-bottom: 50px;
    }

}
