:host{
    position: relative;
    display: block;
    height: auto;
}

blog-suggestions-box{
    display: block;
    width: 650px;
    margin: 0 auto;
}

suggestions-note {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

suggestion-note-text{
    font-size: 12px;
    font-family: 'PT Mono', monospace;
    text-transform: uppercase;
}

suggestions-note hr{
    flex-grow: 1;
    align-self: stretch;
    height: 2px;
    margin-left: 10px;
    border: none;
    background: var(--strong-text-color);
}

blog-suggestions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-left: -15%;
    margin-right: -15%;
    padding: 0 15% 50px 15%;
    border-right: white solid 15px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    mask-image: linear-gradient(to right, transparent, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 85%,transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 85%, transparent);
}

blog-suggestions::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}

blog-suggestions::-webkit-scrollbar-track {
    background: transparent;
}

blog-suggestions::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}

blog-suggestions *:not(:nth-last-child(2)):not(:last-child){
    margin-right: 30px;
}

suggestions-filler{
    display: block;
    flex: 0 0 15%;
    align-self: stretch;
}

@media only screen and (max-width: 768px) {

    blog-suggestions-box{
        width: 100%;
        padding: 0 10vw;
        box-sizing: border-box;
    }

}
