blog-suggestions-box
    suggestions-note
        suggestion-note-text Mehr Beiträge
        hr
    blog-suggestions
        c-blog-card(heading="DJ-Workshop" note="2020-04-18" headingbackground="#F5B3AD" thumbnail="/res/img/blog-thumbnail-2.jpg" content="Bald ist es so weit. Der große Radaz lüftet sein Geheimniss, mit welchem er an die Spitze gekommen ist." link="/")
        c-blog-card(heading="DJ-Workshop" note="18.04.20" headingbackground="#F5B3AD" thumbnail="/res/img/blog-thumbnail-2.jpg" content="Bald ist es so weit. Der große Radaz lüftet sein Geheimniss, mit welchem er an die Spitze gekommen ist." link="/")
        c-blog-card(heading="DJ-Workshop" note="18.04.20" headingbackground="#F5B3AD" thumbnail="/res/img/blog-thumbnail-2.jpg" content="Bald ist es so weit. Der große Radaz lüftet sein Geheimniss, mit welchem er an die Spitze gekommen ist." link="/")
