<svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44">
<g id="Group_32" data-name="Group 32" transform="translate(-280 -3078)">
<rect id="Rectangle_46" data-name="Rectangle 46" width="44" height="44" transform="translate(280 3078)" fill="none"/>
<g id="Tools_1" data-name="Tools 1" transform="translate(290 3088)">
<path id="Path_76" data-name="Path 76" d="M17.325,12.472a.516.516,0,0,0-.516-.124,1.032,1.032,0,0,1-1.322-.991,1.032,1.032,0,0,1,0-.3.516.516,0,0,0-.134-.516L14.61,9.8a1.807,1.807,0,0,0-2.488,0h0L6.195,3.913V3.18A1.549,1.549,0,0,0,5.41,1.838L2.323.072A.516.516,0,0,0,1.7.155L.155,1.7a.516.516,0,0,0-.083.62l1.766,3.1a1.549,1.549,0,0,0,1.342.774h.733L9.85,12.132h0a1.766,1.766,0,0,0,0,2.488l.743.743a.516.516,0,0,0,.516.134,1.173,1.173,0,0,1,1.28,1.311.516.516,0,0,0,.124.516l6.567,6.567a3,3,0,0,0,4.254,0l.609-.609a3,3,0,0,0,0-4.254Z" transform="translate(0 0)" fill="#3b3c3d"/>
<path id="Path_77" data-name="Path 77" d="M13.106,8.26a2.777,2.777,0,0,1,1.879.805l.743.743a1.549,1.549,0,0,1,.454,1.032.516.516,0,0,0,.475.485,1.652,1.652,0,0,1,.589.155.516.516,0,0,0,.217,0h.1a5.255,5.255,0,0,1,1.1-.124,5.668,5.668,0,0,0,5.7-5.668,5.607,5.607,0,0,0-.692-2.664.516.516,0,0,0-.434-.268.527.527,0,0,0-.454.227L21.273,5.162a1.033,1.033,0,0,1-.9.485h-.258a2.406,2.406,0,0,1-2.2-1.518,1.094,1.094,0,0,1,.072-.96L19.424.826a.527.527,0,0,0,0-.516.589.589,0,0,0-.5-.31h-.237a5.689,5.689,0,0,0-5.679,5.71,4.78,4.78,0,0,1-.361,1.848.516.516,0,0,0,.465.712Z" transform="translate(0.41)" fill="#3b3c3d"/>
<path id="Path_78" data-name="Path 78" d="M10.717,16.095a1.559,1.559,0,0,1-.9-.423l-.743-.743a2.788,2.788,0,0,1-.764-1.435.516.516,0,0,0-.867-.268L.754,19.967a2.581,2.581,0,0,0,.155,3.789,2.488,2.488,0,0,0,1.631.6A2.777,2.777,0,0,0,4.5,23.529l6.515-6.515a.516.516,0,0,0-.3-.878Z" transform="translate(0 0.425)" fill="#3b3c3d"/>
</g>
</g>
</svg>