
<svg xmlns="http://www.w3.org/2000/svg" width="36.249" height="22.886" viewBox="0 0 36.249 22.886">
  <g id="student" transform="translate(-0.001)">
    <path id="Path_239" data-name="Path 239" d="M33.513,0H2.737A2.74,2.74,0,0,0,0,2.737V20.15a2.739,2.739,0,0,0,2.737,2.736H33.513A2.739,2.739,0,0,0,36.25,20.15V2.737A2.74,2.74,0,0,0,33.513,0Zm.6,20.15a.6.6,0,0,1-.6.6H2.737a.6.6,0,0,1-.6-.6V2.737a.6.6,0,0,1,.6-.6H33.513a.6.6,0,0,1,.6.6Zm0,0"/>
    <path id="Path_240" data-name="Path 240" d="M86.167,84.214a3.9,3.9,0,1,0-6.764,0,5.509,5.509,0,0,0-2.129,4.352,1.066,1.066,0,0,0,1.066,1.066h8.89A1.066,1.066,0,0,0,88.3,88.566a5.509,5.509,0,0,0-2.129-4.352ZM79.578,87.5a3.381,3.381,0,0,1,1.867-2.036,1.066,1.066,0,0,0,.24-1.813,1.77,1.77,0,1,1,2.2,0,1.066,1.066,0,0,0,.24,1.813A3.381,3.381,0,0,1,85.991,87.5Zm0,0" transform="translate(-71.802 -72.815)"/>
    <path id="Path_241" data-name="Path 241" d="M289.116,91.336h-8.881a1.066,1.066,0,1,0,0,2.132h8.881a1.066,1.066,0,0,0,0-2.132Zm0,0" transform="translate(-259.403 -84.869)"/>
    <path id="Path_242" data-name="Path 242" d="M289.116,137.371h-8.881a1.066,1.066,0,1,0,0,2.132h8.881a1.066,1.066,0,0,0,0-2.132Zm0,0" transform="translate(-259.403 -127.645)"/>
    <path id="Path_243" data-name="Path 243" d="M285.822,183.4h-5.588a1.066,1.066,0,0,0,0,2.132h5.588a1.066,1.066,0,1,0,0-2.132Zm0,0" transform="translate(-259.402 -170.417)"/>
  </g>
</svg>
