:host{
    --spacing: 2em;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

:host *:first-child:not(:last-child){
    margin-right: var(--spacing);
}

:host *:last-child:not(:first-child){
    margin-left: var(--spacing);
}

:host *:not(:first-child):not(:last-child) {
    margin: 0 var(--spacing);
}

:host::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}

:host::-webkit-scrollbar-track {
    background: transparent;
}

:host::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}
