overflow-x-container
    c-news-card(heading="Samstag" note="18.04.20"     thumbnail='/res/img/dj.jpg' href="/" contenttitle="Frauen im Weltraum" content='Am 28.9.2020 findet ein Vortrag des ersten komplett weiblichen Astronautenteams statt.')
    c-news-card(heading="Montag" note="20.04.20"      thumbnail='/res/img/rolli.jpg' href="/" contenttitle="HRT Rover landet am Mars" content='Ein Rover des TGM Robotikteams ist am Mars gelandet und hilft bei der Suche nach Wasser!')
    c-news-card(heading="Donnerstag" note="16.04.20"  thumbnail='/res/img/ball.jpg' href="/" contenttitle="TGM-Ball" content='Der 100. TGM-Ball findet kommenden Donnerstag statt, jetzt Tickets sichern!')
    c-news-card(heading="Samstag" note="18.04.20"     thumbnail='/res/img/dj.jpg' href="/" contenttitle="Frauen im Weltraum" content='Am 28.9.2020 findet ein Vortrag des ersten komplett weiblichen Astronautenteams statt.')
    c-news-card(heading="Montag" note="20.04.20"      thumbnail='/res/img/rolli.jpg' href="/" contenttitle="HRT Rover landet am Mars" content='Ein Rover des TGM Robotikteams ist am Mars gelandet und hilft bei der Suche nach Wasser!')
    c-news-card(heading="Donnerstag" note="16.04.20"  thumbnail='/res/img/ball.jpg' href="/" contenttitle="TGM-Ball" content='Der 100. TGM-Ball findet kommenden Donnerstag statt, jetzt Tickets sichern!')
//-
    c-blog-card(heading="Samstag" note="18.04.20"     thumbnail='/res/img/dj.jpg' href="/" content='Am 28.9.2020 findet ein Vortrag des ersten komplett weiblichen Astronautenteams statt.')
    c-blog-card(heading="Montag" note="20.04.20"      thumbnail='/res/img/rolli.jpg' href="/" content='Ein Rover des TGM Robotikteams ist am Mars gelandet und hilft bei der Suche nach Wasser!')
    c-blog-card(heading="Donnerstag" note="16.04.20"  thumbnail='/res/img/ball.jpg' href="/" content='Der 100. TGM-Ball findet kommenden Donnerstag statt, jetzt Tickets sichern!')
    c-blog-card(heading="Samstag" note="18.04.20"     thumbnail='/res/img/dj.jpg' href="/" content='Am 28.9.2020 findet ein Vortrag des ersten komplett weiblichen Astronautenteams statt.')
    c-blog-card(heading="Montag" note="20.04.20"      thumbnail='/res/img/rolli.jpg' href="/" content='Ein Rover des TGM Robotikteams ist am Mars gelandet und hilft bei der Suche nach Wasser!')
    c-blog-card(heading="Donnerstag" note="16.04.20"  thumbnail='/res/img/ball.jpg' href="/" content='Der 100. TGM-Ball findet kommenden Donnerstag statt, jetzt Tickets sichern!')
    c-blog-card(heading="Samstag" note="18.04.20"     thumbnail='/res/img/dj.jpg' href="/" content='Am 28.9.2020 findet ein Vortrag des ersten komplett weiblichen Astronautenteams statt.')
    c-blog-card(heading="Montag" note="20.04.20"      thumbnail='/res/img/rolli.jpg' href="/" content='Ein Rover des TGM Robotikteams ist am Mars gelandet und hilft bei der Suche nach Wasser!')
c-button.next
c-button.pervious