:host {
    display: block;
    max-width: 860px;
    min-width: 475px;
    width: auto;
    user-select: auto;
}

@media only screen and (max-width: 768px) {
    :host {
        min-width: unset;
    }


}
:host(:hover) {
    transform: unset;
    background: rgb(245, 245, 245);
    box-shadow: 7px 7px 15px 0px rgba(0,0,0,.07);
}

selection-card{
    display: flex;
    width: 100%;
    min-width: auto;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px;
    box-sizing: border-box;
}

content-box{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 45px 0;
    max-width: calc(100% - 195px);
    box-sizing: border-box;
}

note-box{
    display: block;
}

note-text{
    font-size: 12px;
    font-family: 'PT Mono', monospace;
    color: var(--weak-text-color);
    text-transform: uppercase;
    white-space: nowrap;
}

c-textblob{
    margin-top: 2px;
    margin-bottom: 13px;
}

selection-container{
    display: flex;
    flex-direction: column;
}

selection-container selection-box:not(:last-child) info-container{
    border-bottom: 1px solid #c5c5c5;
}

selection-box{
    display: flex;
    align-self: stretch;
    position: relative;
    flex-direction: row;
    align-items: center;
}

selection-content{
    display: flex;
    z-index: 1;
    flex-direction: row;
    align-items: center;
    padding: 15px 0;
    max-width: 100%;
    box-sizing: border-box;
}

c-button{
    position: absolute;
    display: block;
    z-index: 2;
    height: 100%;
    width: 100%;
}

selection-background{
    position: absolute;
    display: block;
    opacity: 0;
    height: 100%;
    width: 100%;
    background: black;
    border-radius: 5px;
}

icon-container{
    display: block;
    position: relative;
    margin-left: 5px;
    height: 40px;
    min-height: 40px;
    width: 40px;
    min-width: 40px;
}

icon-box{
    display: block;
    height: 100%;
    width: 100%;
    background: url("../../../../res/img/windmil.svg") center center no-repeat;
    background-size: 100% 100%;
}

info-container{
    display: flex;
    align-self: stretch;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 2px;
    margin-bottom: -15px;
    margin-left: 13px;
    padding-bottom: 15px;
    padding-right: 10px;
    font-size: 15px;
    max-width: 100%;
    overflow: hidden;
}

text-container{
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

heading-text{
    margin-bottom: 2px;
    font-weight: bold;
    color: var(--strong-text-color);
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.02em;
}

content-text{
    color: var(--weak-text-color);
    font-size: 13px;
    flex-basis: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


link-container{
    display: flex;
    opacity: 0;
    margin: 0 10px;
    flex-direction: row;
    justify-content: flex-end;
    min-width: auto;
    font-size: 14px;
}


selection-box:hover selection-background{
    opacity: .03;
    transition: 0.25s;
}

selection-box:hover link-container{
    opacity: 1;
    transition: 0.25s;
}

image-container{
    position: relative;
    display: block;
    flex-grow: 1;
    max-width: 200px;
    width: calc(200 * ((100vw - 1300px)/(1600 - 1300)));
    min-width: 115px;
    align-self: stretch;
    margin-right: 70px;
    margin-left: 10px;
    transform: skewX(-10deg);
    transform-origin: bottom left;
    overflow: hidden;
    backface-visibility: hidden;
}

image-box{
    position: absolute;
    width: 400px;
    left: -100px;
    height: 100%;
    display: block;
    transform: skewX(10deg);
    background: url("../../../../res/img/abendschule_background.svg") 51% 32% no-repeat;
    background-size: 2300px 1275px;
    backface-visibility: hidden;
}

@media only screen and (max-width: 1450px) {

    :host{
        max-width: 630px;
    }

    selection-card{
        flex-direction: row;
        padding: 0 40px;
    }

    content-box{
        padding: 40px 0;
    }

    image-container{
        display: none;
        margin-right: 10px;
    }

    content-box{
        max-width: 100%;
    }
}

@media only screen and (max-width: 768px) {

    :host{
        max-width: 515px;
    }

    selection-card{
        padding: 0 35px;
    }

    content-box{
        padding: 35px 0;
    }

    selection-box link-container{
        display: none;
    }

    image-container{
        display: none;
    }
}