selection-card
    image-container
        image-box
    content-box
        note-box
            note-text unser Versprechen
        c-textblob(heading="Neues Lernen", hsize='{"max":40, "min": 30}', hmobile='{"max": 40, "min":25}')
        selection-container
            selection-box
                selection-background
                selection-content
                    icon-container
                        icon-box
                    info-container
                        link-container
                            c-link(link="georgsSandbox", content="Mehr")
                        text-container
                            heading-text Erneuerbare Energien
                            content-text Bausteine der Zukunft mit unglaublichen Potenzial
                c-button(link="georgsSandbox")
            selection-box
                selection-background
                selection-content
                    icon-container
                        icon-box
                    info-container
                        link-container
                            c-link(link="georgsSandbox", content="Mehr")
                        text-container
                            heading-text Erneuerbare Energien
                            content-text Bausteine der Zukunft mit unglaublichen Potenzial
                c-button(link="georgsSandbox")
            selection-box
                selection-background
                selection-content
                    icon-container
                        icon-box
                    info-container
                        link-container
                            c-link(link="georgsSandbox", content="Mehr")
                        text-container
                            heading-text Erneuerbare Energien
                            content-text Bausteine der Zukunft mit unglaublichen Potenzial
                c-button(link="georgsSandbox")
            selection-box
                selection-background
                selection-content
                    icon-container
                        icon-box
                    info-container
                        link-container
                            c-link(link="georgsSandbox", content="Mehr")
                        text-container
                            heading-text Erneuerbare Energien
                            content-text Bausteine der Zukunft mit unglaublichen Potenzial
                c-button(link="georgsSandbox")

