selection-card
    image-container
        image-box
    content-box
        note-box
            note-text sample note
        c-textblob(heading="Heading", hsize='{"max":40, "min": 30}', hmobile='{"max": 40, "min":25}')
        selection-container
        c-link.stundentafel() zur Stundentafel
            //-
                selection-box
                    selection-background
                    selection-content
                        icon-container
                            c-windmill-icon
                        info-container
                            link-container
                                c-link(link="georgsSandbox", content="Mehr")
                            text-container
                                heading-text Erneuerbare Energien
                                content-text Bausteine der Zukunft mit unglaublichen Potenzial
                    c-button(link="georgsSandbox")
                selection-box
                    selection-background
                    selection-content
                        icon-container
                            c-cpu-icon
                        info-container
                            link-container
                                c-link(link="georgsSandbox", content="Mehr")
                            text-container
                                heading-text Erneuerbare Energien
                                content-text Bausteine der Zukunft mit unglaublichen Potenzial
                    c-button(link="georgsSandbox")
                selection-box
                    selection-background
                    selection-content
                        icon-container
                            c-tie-icon
                        info-container
                            link-container
                                c-link(link="georgsSandbox", content="Mehr")
                            text-container
                                heading-text Erneuerbare Energien
                                content-text Bausteine der Zukunft mit unglaublichen Potenzial
                    c-button(link="georgsSandbox")
                selection-box
                    selection-background
                    selection-content
                        icon-container
                            c-tools-icon
                        info-container
                            link-container
                                c-link(link="georgsSandbox", content="Mehr")
                            text-container
                                heading-text Erneuerbare Energien
                                content-text Bausteine der Zukunft mit unglaublichen Potenzial
                    c-button(link="georgsSandbox")

