selection-card
    content-box
        note-box
            note-text unser Versprechen
        c-textblob(heading="Neues Lernen", hsize='{"max":40, "min": 30}')
        selection-container
            selection-box
                selection-background
                selection-content
                    icon-container
                        icon-box
                    info-container
                        text-container
                            heading-text Erneuerbare Energien
                            content-text Bausteine der Zukunft mit unglaublichen Potenzial
                        link-container
                            c-link(link="/georgsSandbox", content="Mehr")
            selection-box
                selection-background
                selection-content
                    icon-container
                        icon-box
                    info-container
                        text-container
                            heading-text Erneuerbare Energien
                            content-text Bausteine der Zukunft mit unglaublichen Potenzial
                        link-container
                            c-link(link="/georgsSandbox", content="Mehr")
            selection-box
                selection-background
                selection-content
                    icon-container
                        icon-box
                    info-container
                        text-container
                            heading-text Erneuerbare Energien
                            content-text Bausteine der Zukunft mit unglaublichen Potenzial
                        link-container
                            c-link(link="/georgsSandbox", content="Mehr")
            selection-box
                selection-background
                selection-content
                    icon-container
                        icon-box
                    info-container
                        text-container
                            heading-text Erneuerbare Energien
                            content-text Bausteine der Zukunft mit unglaublichen Potenzial
                        link-container
                            c-link(link="/georgsSandbox", content="Mehr")

    image-container
        image-box