image-text-blob
    content-box
        text-box
            heading-box
                heading-text Abteilungsvorstand
                connector-box.top
                    hr
            c-textblob(heading="Ein Einblick", subheading="in die IT", hsize="50/30", content="Demnächst in der Nähe? Komm uns besuchen, wir freuen uns auf dich. Wir ermöglichen dir als SchnupperschülerIn in die IT Welt einzutauchen.", linktext="Einen Besuch planen", linkhref="/georgsSandbox")
        info-box
            connector-box.bottom
                hr
            info-grid
                info-text.bold Addresse
                info-text Wexstraße 123 / 9. Stock / H926
                info-text.bold Email
                info-text abt-adminhit@tgm.ac.at
                info-text.bold Tel
                info-text +43 1 33126 291
                stellvertreter-text.bold Stellvertreter
                info-text Christian Kruisz
                info-text ckruisz@tgm.ac.at
                info-text Christoph brein
                info-text cbrein@tgm.ac.at
    image-container
        image-box
