image-text-blob.right
    content-box
        text-box
            note-box
                note-text
                connector-box.top
                    hr
            c-textblob(hsize="60/40", hmobile="55/35")
        info-box
            connector-box.bottom
                hr
            info-grid
                info-text.bold Addresse
                info-text.addresse Wexstraße 123 / 9. Stock / H926
                info-text.bold Email
                info-text.email abt-adminhit@tgm.ac.at
                info-text.bold Tel
                info-text.tel +43 1 33126 291
                //-
                    stellvertreter-text.bold Stellvertreter
                    info-text Christian Kruisz
                    info-text ckruisz@tgm.ac.at
                    info-text Christoph brein
                    info-text cbrein@tgm.ac.at
    image-container
        image-box
