:host{
    display: block;
}

image-text-blob{
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding: 10vw 7vw 10vw 7vw;
    overflow: hidden;
}

content-box {
    display: flex;
    position: relative;
    flex-direction: column;
    height: auto;
    width: max(30%, auto);
}

note-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-content: center;
    margin-bottom: 10px;
    width: 100%;
}

note-text {
    display: flex;
    max-width: 100%;
    margin-left: 10px;
    line-height: 1.2em;
    font-size: 14px;
    font-family: 'PT Mono', monospace;
    text-transform: uppercase;
    white-space: nowrap;
    align-items: center;
    color: var(--weak-text-color);
}

connector-box{
    display: block;
    height: auto;
    margin-bottom: 5px;
    
}

connector-box hr{
    border: none;
    background: var(--strong-text-color);
    width: 90%;
    margin-right: 0;
    margin-left: 0;
}

hr.lower {
    display: none; 
    opacity: 0;
}

connector-box.top{
    width: 50px;
}

connector-box.top hr{
    height: 6px;
}

connector-box.bottom{
    width: 40px;
    display: none;
}

connector-box.bottom hr{
    height: 5px;
}

text-box{
    width: 100%;
}

info-box{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-grow: 1;
    color: var(--weak-text-color);
}

info-grid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    row-gap: 5px;
    font-size: 14px;
}


info-box .heading{
    font-weight: bold;
    color: var(--strong-text-color);
    user-select: none;
}

stellvertreter-text{
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 7px;
}

image-container{
    display: flex;
    align-self: center;
    position: relative;
    max-width: min(1100px, 70vw);
    height: min(600px, 40vw);
    flex-grow: 1;
    overflow: hidden;
    box-shadow: var(--medium-shadow);
    justify-content: stretch;
}

image-box{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: grey;
}

image-text-blob.right{
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-right: 5vw;
    padding: 150px 0 150px 100px;
}

image-text-blob.right image-container{
    margin: -10vw 75px -10vw -150px;
    border-radius: 0 10px 10px 0;
}

image-text-blob.left{
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 5vw;
    padding: 150px 100px 150px 0;
}

image-text-blob.left content-box{
    margin: 0 auto
}

image-text-blob.left image-container{
    margin: -7vw -150px -7vw 50px;
    border-radius: 10px 0 0 10px;
}

@media only screen and (max-width: 1100px) {

    image-text-blob.right{
        padding: 10vw 0 10vw 7vw;
    }

    image-text-blob.right image-container{
        margin-left: -10vw;
    }

    image-text-blob.left{
        padding: 10vw 7vw 10vw 0;
    }

    image-text-blob.left image-container{
        margin-right: -10vw;
    }
}

@media only screen and (max-width: 768px) {
    image-text-blob{
        height: 100%;
        min-height: unset;
        margin: 0!important;
        padding: 100px 10vw 100px 10vw !important;
        flex-direction: column!important;
        justify-content: space-around!important;
    }

    info-grid{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    info-text{
        width: 30%;
        min-width: min(140px, 100%);
        margin-bottom: 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-grow: 1;
    }

    info-text:nth-child(2n),
    stellvertreter-text ~ info-text:nth-child(2n-1){
        margin-bottom: 9px;
        width: 60%;
    }

    stellvertreter-text ~ info-text:nth-child(2n-1){
        margin-bottom: 11px;
    }

    stellvertreter-text ~ info-text:nth-child(2n){
        margin-bottom: 0;
        width: 30%;
    }

    stellvertreter-text{
        width: 100%;
        margin-bottom: 10px;
    }

    content-box{
        align-self: center;
        width: unset;
        max-width: 100%;
    }

    image-container{
        width: calc(100% + 10vw);
        align-self: unset;
        max-width: unset;
        min-width: 85vw;
        height: 50vw;
    }

    image-text-blob.right image-container{
        align-self: flex-start;
        margin: 50px 0 0 -10vw;
    }


    image-text-blob.left image-container{
        align-self: flex-end;
        margin: 50px -10vw 0 0;
    }
}
