image-text-blob
    content-box
        text-box
            note-box
                note-text
                connector-box.top
                    hr
            c-textblob(hsize='{"max":60, "min":40}', hmobile='{"max":55, "min":35}')
        info-box
            connector-box.bottom
                hr.lower
            info-grid

    
