
section-textblob-container c-textblob{
    width: 100%;
}

section-textblob-image-container{
    display: none;
    width: 0;
    height: 0;
    min-width: unset;
}

@media only screen and (max-width: 768px) {

    section-textblob-circle {
        top: min(-105vw, -350px);
        left: min(-30vw, -300px);
        right: min(-60vw, -600px);
        height: max(195vw, 925px);
        width: unset;
    }
}

