<svg xmlns="http://www.w3.org/2000/svg" width="34" height="29.883" viewBox="0 0 34 29.883">
  <g id="graduate" transform="translate(0 -31)">
    <g id="Group_180" data-name="Group 180" transform="translate(0 31)">
      <path id="Path_244" data-name="Path 244" d="M32.008,55.078v-13.5l1.44-.717a1,1,0,0,0,0-1.783l-16-7.969a1,1,0,0,0-.888,0l-16,7.969a1,1,0,0,0,0,1.783l5.424,2.7v4.376c0,4.045,5.145,6.973,11.023,6.973,5.92,0,11.023-2.953,11.023-6.973V43.558l1.992-.992V55.078a2.993,2.993,0,0,0-1.992,2.817v1.992a1,1,0,0,0,1,1H33a1,1,0,0,0,1-1V57.895A2.993,2.993,0,0,0,32.008,55.078Zm-5.977-7.144c0,2.635-4.048,4.98-9.031,4.98-5.009,0-9.031-2.359-9.031-4.98V44.55l8.587,4.276a1,1,0,0,0,.888,0l8.587-4.276ZM17,46.821,3.231,39.965,17,33.109l13.769,6.856Zm15.008,12.07H30.016v-1a1,1,0,1,1,1.992,0Z" transform="translate(0 -31)"/>
    </g>
  </g>
</svg>
