
<?xml version="1.0" encoding="iso-8859-1"?>
<!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve">
<g>
	<g>
		<path d="M491.999,232.998c11.046,0,20-8.954,20-20V79.999C511.996,35.888,476.109,0,431.997,0H80C35.888,0,0,35.888,0,79.999 v233.998C0,358.109,35.888,393.997,80,393.997h155.999v68.481c-43.129,1.994-81.974,9.524-83.847,9.891 c-10.837,2.125-17.898,12.631-15.776,23.469c2.122,10.837,12.63,17.903,23.468,15.785c0.492-0.097,49.775-9.627,96.156-9.627c46.382,0,95.664,9.531,96.151,9.626c1.3,0.255,2.593,0.377,3.87,0.377c9.368-0.001,17.734-6.616,19.605-16.156 c2.125-10.839-4.939-21.349-15.778-23.475c-1.873-0.367-40.719-7.897-83.847-9.891v-68.48h155.999 c44.112,0,79.999-35.888,79.999-79.999c0-11.046-8.954-20-20-20s-20,8.954-20,20c0,22.056-17.944,40-40,40H356v-77.999h56 c11.046,0,20-8.954,20-20s-8.954-20-20-20h-56v-77.999h115.999v55C471.999,224.044,480.953,232.998,491.999,232.998z M155.999,353.997H80c-22.056,0-40-17.944-40-40v-38h115.999V353.997z M155.999,235.998H40v-77.999h115.999V235.998z M155.999,117.999H40v-38c0-22.056,17.944-40,40-40h75.999V117.999z M315.998,353.997H195.999v-77.999h119.999V353.997zM315.998,235.998H195.999v-77.999h119.999V235.998z M315.998,117.999H195.999V40h119.999V117.999z M471.997,117.999H355.998V40 h75.999c22.056,0,40,17.944,40,40V117.999z"/>
	</g>
</g>

</svg>
