
<svg id="solar-panel_1_" data-name="solar-panel (1)" xmlns="http://www.w3.org/2000/svg" width="209.748" height="209.598" viewBox="0 0 209.748 209.598">
  <path id="Path_570" data-name="Path 570" d="M28.553,115.5,0,226.027H80.387V251H55.825v12.28h61.4V251H92.667V226.027h81.552l-19.174-76.7A30.7,30.7,0,1,0,111.707,115.5Zm32.94,12.282-1.115,12.28H34.892l3.173-12.28Zm75.5,0,3.071,12.28H115.135l-1.117-12.28Zm6.142,24.562,6.14,24.562h-30.8L116.25,152.34ZM106.153,176.9H69.36l2.232-24.562H103.92Zm1.115,12.28,2.234,24.562H66.01l2.232-24.562ZM57.028,176.9H25.375L31.72,152.34H59.26ZM22.2,189.183H55.911l-2.234,24.562H15.857Zm99.632,24.562L119.6,189.183h32.749l6.142,24.562Zm19.958-110.529a18.415,18.415,0,0,1,10.168,33.773L146.588,115.5h-22.16A18.45,18.45,0,0,1,141.792,103.216Zm-40.105,24.562,1.115,12.28H72.709l1.115-12.28Zm0,0" transform="translate(0 -53.681)"/>
  <path id="Path_571" data-name="Path 571" d="M331.129,0h12.282V24.972H331.129Zm0,0" transform="translate(-195.477)"/>
  <path id="Path_572" data-name="Path 572" d="M451.043,150.891h24.972v12.282H451.043Zm0,0" transform="translate(-266.267 -89.076)"/>
  <path id="Path_573" data-name="Path 573" d="M409.711,56.063,427.078,38.7l8.685,8.685L418.394,64.747Zm0,0" transform="translate(-241.867 -22.843)"/>
  <path id="Path_574" data-name="Path 574" d="M435.771,246.842l-8.685,8.683-17.367-17.368,8.683-8.685Zm0,0" transform="translate(-241.872 -135.466)"/>
  <path id="Path_575" data-name="Path 575" d="M227.614,38.691l17.368,17.368L236.3,64.743,218.93,47.374Zm0,0" transform="translate(-129.242 -22.841)"/>
</svg>
