<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="90" height="90" viewBox="0 0 90 90">
  <g id="Group_11" data-name="Group 11">
    <path id="Path_9" data-name="Path 9" d="M25.512,3.277A1.852,1.852,0,0,0,22.7,4.87V14.1H7.876a1.853,1.853,0,0,0-.963,3.446L31,32.362a1.853,1.853,0,0,0,2.816-1.593V21.506h14.82a1.853,1.853,0,0,0,.963-3.446Z" transform="translate(16.244 8.134)"/>
    <path id="Path_10" data-name="Path 10" d="M9.356,3A9.226,9.226,0,0,0,3.761,19.674V67.84a1.852,1.852,0,0,0,1.853,1.853h7.41a1.852,1.852,0,0,0,1.853-1.853V19.674A9.226,9.226,0,0,0,9.356,3Z" transform="translate(-0.056 8.114)"/>
    <path id="Path_11" data-name="Path 11" d="M28.356,3a9.226,9.226,0,0,0-5.595,16.673V67.84a1.852,1.852,0,0,0,1.853,1.853h7.41a1.853,1.853,0,0,0,1.853-1.853V19.674A9.226,9.226,0,0,0,28.356,3Z" transform="translate(51.341 8.114)"/>
  </g>
</svg>
