<svg xmlns="http://www.w3.org/2000/svg" width="182.4" height="161" viewBox="0 0 182.4 161">
<g id="Gruppe_12" data-name="Gruppe 12" transform="translate(-564 -2946.5)">
<g id="right-quote-sign_1_" data-name="right-quote-sign (1)" transform="translate(564.001 2889.303)" opacity="0.05">
<path id="Pfad_4" data-name="Pfad 4" d="M625.2,57.2H568.329a9.357,9.357,0,0,0-9.354,9.353V123.42a9.357,9.357,0,0,0,9.354,9.353h27.219q-.533,22.336-10.364,35.768-7.745,10.607-23.44,17.547a9.34,9.34,0,0,0-4.639,12.553l6.734,14.217a9.352,9.352,0,0,0,12.178,4.564,103.993,103.993,0,0,0,31.372-20.353q15.6-15.068,21.382-34.028t5.78-51.781V66.55A9.357,9.357,0,0,0,625.2,57.2Z" transform="translate(-452.153)" fill="#242b35"/>
<path id="Pfad_5" data-name="Pfad 5" d="M19.835,217.385a105.746,105.746,0,0,0,31.222-20.316Q66.8,182,72.57,163.172t5.78-51.912V66.551A9.357,9.357,0,0,0,69,57.2H12.128a9.357,9.357,0,0,0-9.353,9.353V123.42a9.357,9.357,0,0,0,9.353,9.353H39.346q-.533,22.336-10.364,35.768-7.745,10.607-23.44,17.547A9.34,9.34,0,0,0,.9,198.641l6.716,14.18A9.379,9.379,0,0,0,19.835,217.385Z" transform="translate(0 0)" fill="#242b35"/>
</g>
<g id="right-quote-sign_1_2" data-name="right-quote-sign (1)" transform="translate(564.001 2889.303)">
<path id="Pfad_4-2" data-name="Pfad 4" d="M590.7,57.2H562.264a4.678,4.678,0,0,0-4.677,4.677V90.308a4.678,4.678,0,0,0,4.677,4.677h13.609q-.267,11.168-5.182,17.884-3.872,5.3-11.72,8.774a4.67,4.67,0,0,0-2.32,6.276l3.367,7.109a4.676,4.676,0,0,0,6.089,2.282,52,52,0,0,0,15.686-10.177,39.485,39.485,0,0,0,10.691-17.014q2.89-9.484,2.89-25.89V61.874A4.679,4.679,0,0,0,590.7,57.2Z" transform="translate(-504.177)" fill="#1fa7e0"/>
<path id="Pfad_5-2" data-name="Pfad 5" d="M9.917,137.291a52.873,52.873,0,0,0,15.611-10.158,39.276,39.276,0,0,0,10.757-16.949q2.89-9.414,2.89-25.956V61.874A4.678,4.678,0,0,0,34.5,57.2H6.063a4.678,4.678,0,0,0-4.677,4.677V90.308a4.678,4.678,0,0,0,4.677,4.677H19.673q-.267,11.168-5.182,17.884-3.872,5.3-11.72,8.774a4.67,4.67,0,0,0-2.32,6.276l3.358,7.09A4.69,4.69,0,0,0,9.917,137.291Z" transform="translate(0 0)" fill="#1fa7e0"/>
</g>
</g>
</svg>
