
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="90" height="90" viewBox="0 0 90 90">
  <g id="Group_13" data-name="Group 13">
    <path id="Path_13" data-name="Path 13" d="M86.537,68.928,62.759,45.15a1.869,1.869,0,0,0-1.869-.486,3.739,3.739,0,0,1-4.823-4.636,1.869,1.869,0,0,0-.449-1.869l-2.692-2.692a6.543,6.543,0,0,0-9.01,0l-21.5-21.31V11.5a5.608,5.608,0,0,0-2.841-4.86L8.4.249a1.869,1.869,0,0,0-2.243.3L.548,6.156A1.869,1.869,0,0,0,.249,8.4L6.642,19.615a5.608,5.608,0,0,0,4.86,2.8h2.654l21.5,21.5a6.393,6.393,0,0,0,0,9.01l2.692,2.692a1.869,1.869,0,0,0,1.869.486,4.246,4.246,0,0,1,4.636,4.748,1.869,1.869,0,0,0,.486,1.869L69.115,86.5a10.88,10.88,0,0,0,15.4,0l2.206-2.206a10.88,10.88,0,0,0,0-15.4Z" transform="translate(-0.209 -0.209)" class="highlight"/>
  </g>
</svg>
