tablet-blob
    tablet-buttons
        button-1
        button-2
        button-3
    tablet-content
        c-textblob(heading='LabAuth' hsize='{"max": 34, "min": 34}')
        note-text Educard basierte Anwesenheitserfassung im Labor & Lernbüro.
        thumbnail-container
            thumbnail
        tablet-info
            info-title Das Problem
            info-text
                p
                    | Die Anwesenheitserfassung im Labor oder Lernbüro hat sich im Laufe der Jahre als ein bescheiden herausgestellt. Manche Lehrer haben eine
                    | leere Liste durch die Klasse gegeben in welche die Schüler (nach Unterbrechen ihrer Arbeit) sich eingetragen hatten, welche anschließend
                    | vom Lehrer händisch in eine zentrale digitale Liste übertragen würde. Andere riefen schlicht jeden der ca. 100 Namen der Schüler die sich
                    | in dem Raum befinden könnten auf nur um die 20 ebenfalls in besagte liste zu schrieben.
                p
                    | Das war nicht nur Unpraktisch, sondern auch Unverlässlich, da man ohne es zu wissen ausgelassen wurde wenn man zum Zeitpunkt der
                    | Answesenheitserfassung gerade nicht im Raum war. Zusätzlich kam es vor, dass Lehrer die Erfassung gar vergaßen und diese dan in
                    | Retrospektive oder garnicht Nachtrugen.
