tablet-frame
    project-left
        project-icon
            img.project-icon-pic
        project-previous
            project-previous-text
            c-arrow-icon.previous
    project-right
        project-team
        project-next
            project-next-text
            c-arrow-icon.next
    tablet-blob
        tablet-buttons
            button-1
            button-2
            button-3
        tablet-slider
        mobile-tutorial
