:host {
    display: block;
}

tablet-blob{
    position: relative;
    display: block;
    width: 550px;
    height: 700px;
    border-radius: 17px;
    border: #222934 solid 8px;
}

tablet-buttons * {
    z-index: 2;
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    border: #222934 solid 4px;
    border-radius: 5px;
}

button-1{
    top: -11px;
    left: 50px;
    width: 35px;
}

button-2{
    top: 50px;
    left: -11px;
    height: 25px;
}

button-3{
    top: 90px;
    left: -11px;
    height: 25px;
}

tablet-content{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 45px 50px 50px 50px;
    text-align: left;
    overflow-y: scroll;
}
