tablet-frame
    project-left
        project-previous Plagiatscheck
            c-arrow-icon.previous
        project-icon
            img.project-icon-pic(src="/res/img/projektLogoBeispiel.png")
    project-right
        project-next TGM Website
            c-arrow-icon.next
        project-team Projektteam
            team-member Maximilian Meiringer
            team-member Saphael Rschlage
            team-member Garid Foldmann
            team-member Feorg Gelber
            team-member Moritz Meier
            team-member Sabine Vollfrau
    tablet-blob
        tablet-buttons
            button-1
            button-2
            button-3
        tablet-content
            c-textblob(heading='LabAuth' hsize='{"max": 42, "min": 42}')
            note-box
                note-text Educard basierte Anwesenheitserfassung im Labor & Lernbüro.
            thumbnail-container
                thumbnail-background
                img.thumbnail-pic(src="/res/img/projektBeispiel.png")
            tablet-info
                info-title Das Problem
                info-text
                    p
                        | Die Anwesenheitserfassung im Labor oder Lernbüro hat sich im Laufe der Jahre als ein bescheiden herausgestellt. Manche Lehrer haben eine
                        | leere Liste durch die Klasse gegeben in welche die Schüler (nach Unterbrechen ihrer Arbeit) sich eingetragen hatten, welche anschließend
                        | vom Lehrer händisch in eine zentrale digitale Liste übertragen würde. Andere riefen schlicht jeden der ca. 100 Namen der Schüler die sich
                        | in dem Raum befinden könnten auf nur um die 20 ebenfalls in besagte liste zu schrieben.
                    p
                        | Das war nicht nur Unpraktisch, sondern auch Unverlässlich, da man ohne es zu wissen ausgelassen wurde wenn man zum Zeitpunkt der
                        | Answesenheitserfassung gerade nicht im Raum war. Zusätzlich kam es vor, dass Lehrer die Erfassung gar vergaßen und diese dan in
                        | Retrospektive oder garnicht Nachtrugen.
