abendschule-section
    section-header Abendschule
    card-box
        c-selection-card(selection='[' +
        '{"icon":"windmill", "title":"Erneurbare Energie", "content":"Bausteine der Zukunft, mit unglaublichen Portenzial", "link":"georgsSandbox"},' +
        '{"icon":"windmill", "title":"Erneurbare Energie", "content":"Bausteine der Zukunft, mit unglaublichen Portenzial", "link":"georgsSandbox"},' +
        '{"icon":"windmill", "title":"Erneurbare Energie", "content":"Bausteine der Zukunft, mit unglaublichen Portenzial", "link":"georgsSandbox"},' +
        '{"icon":"windmill", "title":"Erneurbare Energie", "content":"Bausteine der Zukunft, mit unglaublichen Portenzial", "link":"georgsSandbox"}' +
        ']')
        c-anmelden-card
    image-container
        image-box