abendschule-section
    section-header Abendschule
    card-box
        c-selection-card( heading='Neues Lernen' note='unser Versprechen'
            selection='[' +
        '{"icon":"windmill", "title":"Erneurbare Energie", "content":"Bausteine der Zukunft, mit unglaublichen Portenzial", "link":"georgsSandbox"},' +
        '{"icon":"cpu", "title":"Elektronik", "content":"Die Grundlagen der Digitalisierung", "link":"georgsSandbox"},' +
        '{"icon":"tie", "title":"Wirtschaft", "content":"Prozessoptimierung und Managment gelernt", "link":"georgsSandbox"},' +
        '{"icon":"tools", "title":"Werkmeister", "content":"Öffnet Möglichkeiten zur Selbstständigkeit", "link":"georgsSandbox"}' +
        ']')
        c-anmelden-card
    image-container
        image-box