
<svg xmlns="http://www.w3.org/2000/svg" width="101.206" height="93.111" viewBox="0 0 101.206 93.111">
  <g id="comment_2_" data-name="comment (2)" transform="translate(-0.001 1.332)">
    <path id="Pfad_132" data-name="Pfad 132" d="M87.293-1.332H13.915A13.929,13.929,0,0,0,0,12.582V57.488A13.93,13.93,0,0,0,13.865,71.4V91.779L43.15,71.4H87.293a13.93,13.93,0,0,0,13.914-13.914V12.582A13.929,13.929,0,0,0,87.293-1.332Zm7.984,58.82a7.993,7.993,0,0,1-7.984,7.984h-46L19.8,80.429V65.472H13.915a7.993,7.993,0,0,1-7.984-7.984V12.582A7.992,7.992,0,0,1,13.915,4.6H87.293a7.992,7.992,0,0,1,7.984,7.984Zm0,0" transform="translate(0)" fill="#303a4a"/>
    <path id="Pfad_143" data-name="Pfad 143" d="M58.633,74.834a2.711,2.711,0,0,0,2.992,2.994h40.861a2.994,2.994,0,1,0,0-5.988H61.625A2.711,2.711,0,0,0,58.633,74.834Z" transform="translate(-31.584 -52.219)" fill="#303a4a"/>
    <path id="Pfad_144" data-name="Pfad 144" d="M58.633,74.834a2.711,2.711,0,0,0,2.992,2.994h40.861a2.994,2.994,0,1,0,0-5.988H61.625A2.711,2.711,0,0,0,58.633,74.834Z" transform="translate(-31.584 -39.672)" fill="#303a4a"/>
    <path id="Pfad_145" data-name="Pfad 145" d="M58.633,74.834a2.711,2.711,0,0,0,2.992,2.994h40.861a2.994,2.994,0,1,0,0-5.988H61.625A2.711,2.711,0,0,0,58.633,74.834Z" transform="translate(-31.584 -27.126)" fill="#303a4a"/>
  </g>
</svg>
