<svg xmlns="http://www.w3.org/2000/svg" width="92.646" height="90.167" viewBox="0 0 92.646 90.167">
  <path id="Path_8" data-name="Path 8" d="M94.646,28.284,89.687,20.8,78.326,28.374,60.608,19.492,42.575,28.509,29.05,21.746V2H20.033V21.746L2,30.763V63.4L20.033,72.42V92.167H29.05V66.83L11.017,57.813V36.353l13.525-6.763,13.525,6.763V63.4L60.608,74.674,83.15,63.4V35.993ZM74.133,57.813,60.608,64.576,47.083,57.813V36.353l13.525-6.763,13.525,6.763Z" transform="translate(-2 -2)" class="highlight"/>
</svg>
