:host {
    display: inline-block;
    width: fit-content;
}

text-blob {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

note-box {
    display: flex;
    flex-direction: row;
    width: 130px;
    margin-right: 15px;
    margin-bottom: 2px;
    padding-top: 6px;
    justify-content: flex-start;
    color: var(--weak-text-color);
}

note-box note-text {
    margin-top: 2px;
    align-content: flex-start;
    line-height: 1.2em;
    font-size: 12px;
    font-family: 'PT Mono', monospace;
    text-transform: uppercase;
    white-space: nowrap;
}

note-box connector-box {
    display: block;
    width: 30px;
    padding-left: 12px;
}

note-box connector-box hr {
    height: 2px;
    background: var(--strong-text-color);
    border: none;
    font-size: 15px;
    margin-right: 0;
    margin-left: 0;
}

note-box spacing-box {
    flex-grow: 1;
}

text-box {
    max-width: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: calc(30px + (45 - 30) * ((100vw - 768px) / (1600 - 768)));
}

text-box * {
    user-select: auto;
}

text-box > heading-text, text-box > subheading-text {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

text-box heading-text {
    /* font-size:  calc(0.6em + (1em - 0.6em) * ((100vw - 300px) / (1600 - 300))); */
    margin-top: calc(-0.15 * 1.2em);
    line-height: 1.2em;
    letter-spacing: 0.07em;
    color: var(--strong-text-color);
}

text-box subheading-text {
    margin-top: calc(2px + (-0.15 * 1.2em));
    font-size: max(0.6em, calc(30px * 0.8));
    color: #27a1d4;
    letter-spacing: 0.05em;
}

text-box *:nth-child(n+3){
    font-size: 16px;
}

text-box content-text {
    max-width: calc(10vw + 450px);
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: var(--weak-text-color);
}

text-box content-text:not(:empty){
    margin-top: 14px;
}

text-box c-link.link {
    display: none;
    font-weight: bold;
    color: var(--strong-text-color);
    text-decoration: none;
}


@media only screen and (max-width: 768px) {
    text-blob {
        display: flex;
        flex-direction: column;
    }

    content-text {
        min-width: 100%;
    }

    note-box{
        width: 100%;
    }

    note-box connector-box {
        width: 35px;
    }

    text-box{
        font-size: calc(30px + (45 - 30) * ((100vw - 300px) / (768 - 300)));
    }

    text-box subheading-text {
        color: #27a1d4;
    }
}
