zertificate-man
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="253" height="200.001" viewBox="0 0 253 200.001">
    <defs>
    <linearGradient id="linear-gradient" x1="0.08" x2="0.807" y2="1.187" gradientUnits="objectBoundingBox">
    <stop offset="0" stop-color="#f7f8ff"/>
    <stop offset="1" stop-color="#eaebf2"/>
    </linearGradient>
    <linearGradient id="linear-gradient-2" x1="0.472" y1="0.476" x2="0.479" y2="0.866" gradientUnits="objectBoundingBox">
    <stop offset="0" stop-color="#3f3d56"/>
    <stop offset="1" stop-color="#312f42"/>
    </linearGradient>
    <linearGradient id="linear-gradient-3" x1="0.326" y1="0.463" x2="0.185" y2="1" gradientUnits="objectBoundingBox">
    <stop offset="0" stop-color="#403d57"/>
    <stop offset="1" stop-color="#323145"/>
    </linearGradient>
    </defs>
    <g id="Group_169" data-name="Group 169" transform="translate(-1302 -3049)">
    <path id="Subtraction_16" data-name="Subtraction 16" d="M-5169.032-2844.516h-122.1v-126.9c0-4.232,0-6.355,1.077-7.449s3.206-1.137,7.546-1.137h105.146c3.816,0,5.855.038,6.886.85s1.107,2.343,1.278,5.408l0,.05c.042.76.09,1.62.159,2.58v126.594Zm-62.361-42.27a10.077,10.077,0,0,0-10.066,10.064,10.077,10.077,0,0,0,10.066,10.066,10.077,10.077,0,0,0,10.064-10.066A10.076,10.076,0,0,0-5231.393-2886.786Z" transform="translate(1308.129 3060) translate(5332.236 3029.179)" fill="url(#linear-gradient)"/>
    <path id="background" d="M-3669,311h-253V111h253V311Zm-198.822-189c-17.527,0-31.039,5.895-39.075,17.043-5.8,8.045-8.816,18.754-8.966,31.828-.158,13.785,2.883,30.144,9.038,48.624,7.678,23.05,18.466,41.692,32.062,55.407,17.659,17.818,39.721,26.852,65.571,26.852a109.817,109.817,0,0,0,56.525-15.181c25.74-15.424,41.108-40.5,41.108-67.079,0-18.071-7.5-32.332-23.612-44.88-14.421-11.234-34.129-19.835-54.994-28.942-6.212-2.712-12.636-5.515-19.027-8.437-21.8-9.967-42.073-15.235-58.623-15.235Z" transform="translate(5224 2938)" fill="#0095d4"/>
    <g id="zertificate_man" data-name="zertificate man" transform="translate(1308.129 3060)">
    <circle id="Ellipse_209" data-name="Ellipse 209" cx="5.47" cy="5.47" r="5.47" transform="translate(41.107 17.67)" fill="#f2f2f2"/>
    <circle id="Ellipse_210" data-name="Ellipse 210" cx="3.72" cy="3.72" r="3.72" transform="translate(90.777 34.956)" fill="#f2f2f2"/>
    <circle id="Ellipse_211" data-name="Ellipse 211" cx="3.72" cy="3.72" r="3.72" transform="translate(30.385 70.622)" fill="#f2f2f2"/>
    <g id="Group_46" data-name="Group 46" transform="translate(0 -1)">
    <line id="Line_6" data-name="Line 6" x2="89" transform="translate(58.371 101.5)" fill="none" stroke="#e3e0de" stroke-linecap="round" stroke-width="2.5"/>
    <line id="Line_7" data-name="Line 7" x2="73" transform="translate(59.371 115.5)" fill="none" stroke="#e3e0de" stroke-linecap="round" stroke-width="2.5"/>
    <line id="Line_9" data-name="Line 9" x2="20" transform="translate(122.371 153.5)" fill="none" stroke="#e3e0de" stroke-linecap="round" stroke-width="2.5"/>
    <line id="Line_5" data-name="Line 5" x2="89" transform="translate(58.371 87.5)" fill="none" stroke="#e3e0de" stroke-linecap="round" stroke-width="2.5"/>
    <line id="Line_10" data-name="Line 10" x2="60" transform="translate(59.371 129.5)" fill="none" stroke="#e3e0de" stroke-linecap="round" stroke-width="2.5"/>
    </g>
    <path id="Path_112" data-name="Path 112" d="M810.138,584.528s19.949,14.962,12.276,18.8S804.767,589.9,804.767,589.9Z" transform="translate(-640.725 -465.106)" fill="#ffb8b8"/>
    <path id="Path_114" data-name="Path 114" d="M702.415,348.99c-5.153-9.271-24.169,34.143-24.169,34.143s-3.836,9.207,3.069,13.427,23.018,16.88,23.018,16.88l9.207-14.194s-18.8-8.823-17.647-12.276,7.289-12.66,7.289-12.66Z" transform="translate(-541.058 -280.207)" fill="url(#linear-gradient-2)"/>
    <path id="Path_106" data-name="Path 106" d="M812.11,654.367l-3.836,35.294h26.47l1.151-2.685,1.534,2.685h24.936s-1.918-36.445-5.371-37.6S812.11,654.367,812.11,654.367Z" transform="translate(-643.465 -517.682)" fill="#2f2e41"/>
    <circle id="Ellipse_215" data-name="Ellipse 215" cx="13.427" cy="13.427" r="13.427" transform="translate(177.853 32.338)" fill="#ffb8b8"/>
    <path id="Path_107" data-name="Path 107" d="M894.009,275.518s2.006,32.267.855,33.034,18.414.384,18.414.384-3.54-31.116-.855-36.487Z" transform="translate(-710.401 -221.313)" fill="#ffb8b8"/>
    <path id="Path_108" data-name="Path 108" d="M841.583,326.807l5.039,6.9.384,69.053s-9.272,2.107-11.587,1.941c-1.028-.074-10.735.193-13.927,0-7.828-.473-16.512-2.085-17.069-5.01-1.534-8.056,15.729-71.739,15.729-71.739l4.346-.281C826.64,327.479,835.794,339.084,841.583,326.807Z" transform="translate(-640.381 -263.776)" fill="#d0cde1"/>
    <path id="Path_109" data-name="Path 109" d="M770.082,316.375l-6.582,2.281-18.8,4.6.767,46.036s-16.112,46.036-8.823,49.488,17.647-4.6,20.716-10.358,13.811-85.549,13.811-87.084A24.981,24.981,0,0,0,770.082,316.375Z" transform="translate(-586.031 -255.627)" fill="#3f3d56"/>
    <path id="Path_110" data-name="Path 110" d="M969.638,316.375l2.6,2.281,18.414,8.44-9.207,46.419s12.276,42.2,7.673,44.5-11.509,8.823-13.043,4.987S965.5,320.616,969.638,316.375Z" transform="translate(-768.682 -255.627)" fill="#3f3d56"/>
    <path id="Path_111" data-name="Path 111" d="M959.148,584.378s-13.453.667-13.836,7.189,15.754,3.169,15.754,1.251S959.148,584.378,959.148,584.378Z" transform="translate(-747.536 -462.27)" fill="#ffb8b8"/>
    <path id="Path_113" data-name="Path 113" d="M878.889,156.195a.741.741,0,0,1,.713-.423c-6.147-.368-12.622.349-17.765,3.736a19.433,19.433,0,0,1-4.425,2.643l1.331,1.044-1.59.485,2.34,1.513a2.028,2.028,0,0,1-1.932.647,3.515,3.515,0,0,1,2.146,2.191,10.4,10.4,0,0,1,.513,3.124,3.859,3.859,0,0,1,3.632-2.516,15.977,15.977,0,0,1,4.639.8,25.66,25.66,0,0,0,10.185.392c-1.15,2.308-.18,5.061.8,7.448l1.949,4.766c1.082.109,1.847-.967,2.663-1.687.743-.656-2.216,5.115-1.757,4.9a86.584,86.584,0,0,0,7.169-7.794,17.831,17.831,0,0,0,2.026-8.642,12.6,12.6,0,0,0-3.274-8.146c-1.4-1.472-3.333-1.73-4.758-2.953-.561-.482-.563-.858-1.334-1.138A22.493,22.493,0,0,0,878.889,156.195Z" transform="translate(-681.648 -130.098)" fill="#2f2e41"/>
    <path id="Path_115" data-name="Path 115" d="M1021.567,362.644c3.32,1.913,20.724,40.654,15.737,48.326s-25.32,18.414-25.32,18.414-.384-12.66-3.836-17.263l11.893-4.6-6.522-25.32Z" transform="translate(-799.604 -291.164)" fill="#3f3d56"/>
    <text id="Nachname_Vorname" data-name="Nachname Vorname" transform="translate(55.871 72)" fill="#415065" font-size="8" font-family="PTSans-Regular, PT Sans" letter-spacing="0.015em"><tspan x="0" y="0">Nachname Vorname</tspan></text>
    <path id="Path_117" data-name="Path 117" d="M-1.652-1.439l5.52-1.253,1.05,3.86L-.467,3.3Z" transform="translate(220.871 113)" fill="url(#linear-gradient-3)"/>
    </g>
    </g>
    </svg>