landing-textblob
    background-box
        background-shader
        background-image
            c-image
    text-box
        c-textblob
        video-button
            c-play-button-icon
            c-button
