landing-textblob
    background-box
        background-shader
        background-image
            c-image
        iframe(frameborder="0" allowfullscreen allow="autoplay")
    text-box
        c-textblob
        video-button
            c-play-button-icon
            c-button
