<svg xmlns="http://www.w3.org/2000/svg" width="44" height="44.362" viewBox="0 0 44 44.362">
<g id="icon" transform="translate(-280 -3077.637)">
<rect id="Rectangle_46" data-name="Rectangle 46" width="44" height="44" transform="translate(280 3078)" fill="none"/>
<g id="windmil" transform="translate(280.5 2056.527)">
<path id="path10152-0-2" d="M18.459,1034.658a1.665,1.665,0,1,1-1.665-1.667A1.666,1.666,0,0,1,18.459,1034.658Z" transform="translate(4.657 5.206)" fill="#3b3c3d"/>
<path id="path28191" d="M17.3,1021.11l-3.331,12.5,2.514,3.458a2.862,2.862,0,0,1,.817-.132Z" transform="translate(4.149 0)" fill="#3b3c3d" fill-rule="evenodd"/>
<path id="path28189" d="M23.075,1034.64l-4.806.2a2.865,2.865,0,0,1-.2.466l13.567,9.022Z" transform="translate(5.944 5.928)" fill="#3b3c3d" fill-rule="evenodd"/>
<path id="path28187" d="M18.7,1034.81l-14.2,7.061,12.665-2.573,1.941-3.722a2.915,2.915,0,0,1-.4-.767Z" transform="translate(0 6.002)" fill="#3b3c3d" fill-rule="evenodd"/>
<path id="path10338-4-6" d="M15.8,1036.01l-1.011,21.715H19.1L18.09,1036.01a2.839,2.839,0,0,1-2.292,0Z" transform="translate(4.507 6.528)" fill="#3b3c3d" fill-rule="evenodd"/>
<path id="path10859-1" d="M10.514,1050.61a.719.719,0,1,0,0,1.438H27.749a.719.719,0,1,0,0-1.438Z" transform="translate(2.32 12.925)" fill="#3b3c3d" fill-rule="evenodd"/>
</g>
</g>
</svg>