section-textblob {
    padding: 175px 100px 200px 100px;
}

section-textblob-image{
    background-image: url(./../../../../../res/img/versuchsanstallt_document.svg);
}

section-textblob-extra-container {
    position: absolute;
    left: 100px;
    bottom: -212px;
    height: 260px;
    width: 117px;
}

section-textblob-extra {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(./../../../../../res/img/L_one.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left bottom;
}


@media only screen and (max-width: 768px) {

    section-textblob{
        padding-top: 100px;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    section-textblob-extra-container {
        left: 0;
        height: 175px;
        width: 75px;
    }
}
