component-body {
  display: flex;
  align-items: center;
}

left-content {
  position: absolute;
  left: 100px;
  display: inline-block;
}

left-content > c-tgm-logo {
  height: 32px;
  width: 60px;
  position: relative;
  float: left;
}

c-button#homeButton {
  position: absolute;
  left: 0;
  height: 32px;
  width: 52px; 
  opacity: .2;
}

right-content {
  display: inline-block;
  position: absolute;
  right: 100px;
  height: 20px;
}

right-content > c-link {
  height: 100%;
  padding: 0 20px;
  font-weight: normal;
}

right-content > c-link:first-of-type {
  padding-left: 0;
}

right-content > c-link:last-of-type {
  padding-right: 0;
}

