component-body {
  display: flex;
  align-items: center;
  user-select: none;
}

left-content {
  position: absolute;
  left: 100px;
  display: inline-block;
}

left-content > c-tgm-logo {
  height: 32px;
  width: 60px;
  position: relative;
  float: left;
}

c-button#homeButton {
  position: absolute;
  left: 0;
  height: 32px;
  width: 52px; 
  opacity: .2;
}

right-content {
  display: inline-block;
  position: absolute;
  right: 100px;
  display: flex;
  align-items: center;
  height: 100%;
  width: calc(100% - 100px)
}

link-animation-wrapper {
  display: inline-block;  
  transform: translateX(-17px);
  position: absolute;
  right: 0;

}

right-content > link-animation-wrapper > c-link {
  padding: 0 18px;
  font-weight: normal;
  opacity: 0;
  transform: translateX(-3px);
  
  position: relative;
  float: left;
}

right-content > c-link:first-of-type {
  padding-left: 0;
}

right-content > c-link:last-of-type {
  padding-right: 0;
}

