cookie-container
    cookie-header Cookie-Hinweis:
    cookie-note Wir benutzen sogenannte Cookies, um Ihre Erfahrung auf unserer Seite zu verbessern. Sind Sie damit einverstanden?
    cookie-selection
        c-button.yes
        c-button.no
