cookie-container
    cookie-header Cookie-Hinweis:
    cookie-note Wir benutzen Cookies, um Ihre Erfahrung auf unserer Seite zu verbessern. 
    cookie-selection
        c-button(active=true).yes
        c-button(active=false).no
