cookie-container
    cookie-header Cookie-Hinweis:
    cookie-note Wir benutzen Cookies, um Ihre Erfahrung auf unserer Seite zu verbessern. 
    cookie-selection
        c-button.yes
        c-button.no
