cookie-container
    cookie-header Cookie-Notice:
    cookie-note We use cookies to actively improve your experience. Please let us know if you are okay with that.
    cookie-selection
        c-button.yes
        c-button.no
