<svg xmlns="http://www.w3.org/2000/svg" width="167.043" height="156.603" viewBox="0 0 167.043 156.603">
  <g id="database_1_" data-name="database (1)" transform="translate(0 -16)">
    <path id="Path_550" data-name="Path 550" d="M39.151,153.027A19.6,19.6,0,0,0,58.726,172.6h78.628a29.365,29.365,0,1,0,0-58.726h-1.677a29.326,29.326,0,0,0-8.111-12.068c0-2.071-.4-54.584-.4-76.021A9.49,9.49,0,0,0,117.778,16H9.788A9.612,9.612,0,0,0,0,25.788V133.452a9.643,9.643,0,0,0,9.788,9.784h32a19.46,19.46,0,0,0-2.634,9.791Zm98.2-29.363a19.578,19.578,0,1,1,0,39.151H58.726a9.788,9.788,0,0,1,0-19.575h9.788v-4.894A14.7,14.7,0,0,1,83.2,123.664h4.494l.8-3.92a19.826,19.826,0,0,1,19.506-15.655,19.622,19.622,0,0,1,19.18,15.655l.8,3.92ZM14.052,25.788h99.494a4.1,4.1,0,0,1,4.232,4.237V50.942a4.083,4.083,0,0,1-4.233,4.209H14.054a4.1,4.1,0,0,1-4.266-4.226V30.034A4.09,4.09,0,0,1,14.052,25.788Zm-.024,39.151h99.515a4.122,4.122,0,0,1,4.236,4.239V90.056a4.088,4.088,0,0,1-4.246,4.245H14.07a4.091,4.091,0,0,1-4.282-4.169V69.176A4.08,4.08,0,0,1,14.028,64.938Zm.042,39.147H85.864A29.052,29.052,0,0,0,79.9,114.1a24.534,24.534,0,0,0-20.687,19.355h-45.2a4.136,4.136,0,0,1-4.23-4.209V108.407A4.111,4.111,0,0,1,14.07,104.086Z"/>
    <rect id="Rectangle_136" data-name="Rectangle 136" width="9" height="10" rx="4" transform="translate(59.043 35.602)"/>
    <rect id="Rectangle_137" data-name="Rectangle 137" width="10" height="10" rx="4" transform="translate(39.043 35.602)"/>
    <rect id="Rectangle_138" data-name="Rectangle 138" width="9" height="10" rx="4" transform="translate(20.043 35.602)"/>
    <rect id="Rectangle_139" data-name="Rectangle 139" width="9" height="10" rx="4" transform="translate(20.043 74.602)"/>
    <rect id="Rectangle_140" data-name="Rectangle 140" width="10" height="10" rx="4" transform="translate(39.043 74.602)"/>
    <rect id="Rectangle_141" data-name="Rectangle 141" width="9" height="10" rx="4" transform="translate(59.043 74.602)"/>
    <rect id="Rectangle_142" data-name="Rectangle 142" width="10" height="10" rx="4" transform="translate(39.043 113.602)"/>
    <rect id="Rectangle_144" data-name="Rectangle 144" width="9" height="10" rx="4" transform="translate(20.043 113.602)"/>
  </g>
</svg>
