component-body {
  height: 700px;
  background: rgb(206, 108, 108);
}

h2 {
  display: block;
  height: 100%;
  margin: 0;
  color: rgb(151, 151, 151);
  position: relative;
  float: left;
  width: 100%;
  margin: 100px;
}

big-image {
  background-image: url("./../../../../res/img/landingAeroplane.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

